[2015-08-09 20:32] omidb opened #1 "Remove a node"
Hi,

I am using your driver via `gremlin-scala` , `remove` is not implemented. Would you please let me know if there is any other way to delete a vertex?

Thanks

[2015-08-09 20:44] mpollmeier commented on #1
the driver is just a proof of concept. if you want to delete a vertex, currently you have to use orient's console and delete it. it wouldn't be hard to add this functionality, but i don't currently have time to do it. feel free to send a PR on the orient-driver ;)

[2015-08-09 21:08] omidb commented on #1
There is always something to make the whole thing to work :-)

[2015-08-09 21:08] #1 closed

[2015-10-21 07:36] velo opened #7 "[question] Matching step support?"
Hi,

As it is right now, does match step works?
http://tinkerpop.incubator.apache.org/docs/3.0.1-incubating/#match-step

If not, any pointers in case I decide to make it happen?

Thanks,

Marvin

[2015-10-21 09:05] mpollmeier commented on #7
I am not sure why it wouldn't. Give it a try and let me know :)

[2015-10-21 09:35] velo commented on #7
I did and no joy... but, it may be me =D

I will retry tomorrow

[2015-10-21 22:12] mpollmeier commented on #7
not sure what the problem is, but here's an example of the match step in tinkergraph using gremlin-scala: https://github.com/mpollmeier/gremlin-scala-examples/blob/master/tinkergraph/src/test/scala/MovieLensSpec.scala#L178

[2015-10-22 07:09] #7 closed

[2015-10-30 01:29] mpollmeier opened #12 "Id type: string?"
I was thinking of changing the ID type to a String (it's ORecordId at the moment)

My reasoning is that if people decide to have the vertex IDs in their domain classes (which represent a vertex), then Orient's types don't leak into the domain entity (if they are Strings). And it's easy to convert a String back into a ORecordId in the driver.

On the other side, @mourednik remarked (rightly so) tha

[2015-10-30 02:52] velo commented on #12
We could have our own type.... that allow you from and to ORecordId (and String)

[2015-10-30 02:53] velo opened #13 "Setup CI server"
Would be really nice to have travis CI, shippable, circle CI, appvovey, or anything that build this project upon pull request

[2015-10-30 03:21] velo opened #14 "Bump tinkerpop version to 3.0.2"
http://tinkerpop.incubator.apache.org/docs/3.0.2-incubating/upgrade.html#_tinkerpop_3_0_2
https://issues.apache.org/jira/browse/TINKERPOP3/fixforversion/12333356/?selectedTab=com.atlassian.jira.jira-projects-plugin:version-summary-panel

[2015-10-30 03:35] mpollmeier commented on #13
agreed :)

[2015-10-30 19:49] Jotschi opened #16 "Add transaction support"
Currently ```graph.tx()``` is not implemented.

I'll take a look at this. I wrote a TP3 wrapper for OrientDB 2.1.x that supports transactions but a wrapper is always a bit slower and very ugly ;)

[2015-10-30 22:32] Jotschi commented on #16
Relates to #17

I decided to stick with the way that orientdb currently handles transactions. Other vendors (e.g Neo4j) use an internal threadlocal to get rid of threading and concurrency issues. Unfortunately orientdb Graph and Element classes are not threadsafe and there is no threadlocal (afaik) that deals with concurrency issues. I would like to see a clean way of handling transactions across

[2015-10-30 22:39] Jotschi commented on #14
I included this in #17

[2015-10-30 23:19] #14 closed

[2015-11-01 09:41] velo commented on #13
done

[2015-11-01 09:41] #13 closed

[2015-11-01 20:16] #12 closed

[2015-11-01 20:27] mpollmeier commented on #16
@lvca or @laa, can you enlighten us?

[2015-11-01 20:36] lvca commented on #16
Hi guys,
OrientDB does use TL to manage transactions. Actually the database instance is stored inside `ODatabaseRecordThreadLocal`. The rule is that one database instance can be used by a thread, because database instances are not thread safe.

With BP2.x we added the possibility to share the same OrientGraph instance across threads by using 2 thread local variables. `activeGraph` contains the cur

[2015-11-02 11:30] Jotschi commented on #16
@lvca @iaa

I see. So you use this TL to ensure that the graph is only use by the thread from which it was created. It is used as a kind of safeguard is that right?

I assume ```db.activateOnCurrentThread()``` is used in combination with those TLs.

I'm not sure whether this a common case but the activateOnCurrentThread() method and the surrounding documentation led me to the assumption that it wo

[2015-11-03 06:54] velo opened #23 "Enable remove vertices feature"
We do have it implemented, but right now is not tested.

Basically we need to remove OrientVertexFeatures.supportsRemoveVertices()
https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/main/java/org/apache/tinkerpop/gremlin/orientdb/ODBFeatures.java#L60

But them, tests enter in an infinite loop!

[2015-11-03 20:18] velo opened #25 "Run sbt tests on travis"
We do need to enable sbt test on travis CI.

[2015-11-03 22:42] mpollmeier commented on #25
hmm, for maven you just specify `mvn -f path/to/pom.xml` but I don't know how you can do that for sbt: http://www.scala-sbt.org/0.13/docs/Command-Line-Reference.html

This mix of technologies and isn't really nice, the orientdb-driver should not depend on gremlin-scala (it doesn't, only the tests do, but still). I only started that way because I couldn't be bothered with java :P
A better place wou

[2015-11-04 00:21] velo commented on #25
Well, if this is a set of tests, we should keep them here.... if not, there is no need to add to the build and we can keep them.

[2015-11-23 03:04] mpollmeier opened #34 "Performance improvements"
Moving the whole discussion onto github - here's the email summary so far between @velo @mikkelspring @lvca and myself

On 11/23/2015 10:22 AM, Marvin Froeder wrote:

[2015-11-23 03:05] mpollmeier commented on #34
@velo nope we didn't prototype anything, just thought experiments. At the moment it's unlikely that we will do so as we don't really have a use case yet.

[2015-11-23 03:23] velo commented on #34
Ok, I do have one... I will give it a shot

[2015-11-23 03:44] mpollmeier commented on #34
you are awesome :)

[2015-12-26 18:57] Krever opened #49 "Get vertex by class"
Hi, is it possible to make a query that gives back all vertices of specified class?

There is a `graph.getVerticesOfClass("xxx")` method availible in current orientd graph api but not in this backend.
Also I have found following snippets:
`graph.V.has("@class","xxx")
grap.V.hasLabel("class:xxx")
` but they're not working either.

Thanks for help :)

[2016-01-03 23:10] velo commented on #25
Done in https://github.com/mpollmeier/orientdb-gremlin/commit/9339f604425fb03e7aa80a59ca2b906d38d0c223

[2016-01-03 23:10] #25 closed

[2016-01-03 23:12] velo commented on #23
Done in https://github.com/mpollmeier/orientdb-gremlin/commit/2dc0dc7bc6279844518d4d34abcbee72cf3803f8#diff-7c82607af21d8e9ec4c975edf6e7a92dL89

[2016-01-03 23:12] #23 closed

[2016-01-03 23:14] velo opened #51 "Figure out mixed id tests"
Right now, we are skipping the following GraphTest tests:
shouldNotMixTypesForGettingSpecificEdgesWithStringFirst
shouldNotMixTypesForGettingSpecificEdgesWithEdgeFirst
shouldNotMixTypesForGettingSpecificVerticesWithStringFirst
shouldNotMixTypesForGettingSpecificVerticesWithVertexFirst

We must either handle this or get in touch with gremlin folks and add a new feature for this.

[2016-01-10 20:53] velo opened #53 "OrientGraph.getIndexedVertices() what it's good for?"
Hey @mpollmeier,

What is this getIndexedVertices() do we have any use case for it?

https://coveralls.io/builds/4645245/source?filename=driver%2Fsrc%2Fmain%2Fjava%2Forg%2Fapache%2Ftinkerpop%2Fgremlin%2Forientdb%2FOrientGraph.java#L210

[2016-01-10 21:25] mpollmeier commented on #53
it's used by `OrientGraphStep.vertices()` - that's a graph traversal strategy that optimises the vertex lookup by trying to find an index. without this, it would always skim through all vertices. I would have suspected that `OrientGraphIndexTest` does use it...

[2016-01-10 21:54] mpollmeier commented on #49
Sorry for the late reply, I'm only just back from holidays.

You can configure this behaviour (prefixing V_ and E_) on `OrientGraphFactory.setLabelAsClassName(boolean)`

Are you using an existing orientdb that was not created with this driver?

[2016-01-10 23:17] velo commented on #53
Apparently it does not....

otherwise the coverage wouldn't be zero...

[2016-01-11 06:00] Krever commented on #49
No problem, I hope you've had happy holidays.

Yes, I'm using existing DB. I prefer to create a schema by script rather than by code.

Thanks for your help :)

[2016-02-19 05:01] mamdouhweb opened #60 "Delete Edge between two vertices"
Probably a mistake from my end, however, I really couldn't find a way to delete an edge between two vertices. Having the two vertices ID's known, it should be trivial to just look into the edge, get it's ID and dropping it. and couldn't find any pointers in the examples for such a process.
Is it just a missing functionality, where I cannot locate an edge with the vertices known? or am I just missi

[2016-02-22 23:03] velo opened #61 "Release time?"
@mpollmeier ain't time for a new release?

[2016-02-24 03:22] mpollmeier commented on #60
the `drop` step let's you delete edges or vertices.
which flavour of gremlin are you using? can you share some code?

[2016-02-24 03:46] mpollmeier commented on #61
I'm on it. 3.1.1-incubating.0

[2016-02-24 04:13] mpollmeier commented on #61
I'm getting heaps of errors during the javadoc generation - any idea what this is?

[code]

[2016-02-24 04:26] velo commented on #61
It's complaing about  `<label>`
https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/main/java/org/apache/tinkerpop/gremlin/orientdb/OrientGraphFactory.java#L135

[code]

[2016-02-28 09:39] velo commented on #61
Fixed on https://github.com/mpollmeier/orientdb-gremlin/pull/63

[2016-03-01 02:04] mpollmeier commented on #61
just released 3.1.1-incubating.0

[2016-03-01 02:04] #61 closed

[2016-03-31 20:31] yusefnapora opened #67 "Serialization fails when property is a scala Map"
I wasn't sure whether to open this here or on [gremlin-scala](https://github.com/mpollmeier/gremlin-scala), but I think this is specific to orient serialization.

If I have a case class `Foo` with a `Map[String, String]` field:

[code]

and try to add it to a remote `OrientGraph`:

[code]

Orient will spit out a huge stack trace... the relevant bit seems to be
[code]

This looks like the orient cl

[2016-03-31 20:42] mpollmeier commented on #67
You are right, this is related to both gremlin-scala and the orient driver. You see this error because orient doesn't (and shoulnd't) know anything about a scala Map. And you wouldn't get there in the first place if the serialisation macro in gremlin-scala would convert the scala Map to a java Map.
For now you'll have to choose one of the workarounds you describe. I'm currently working on replacin

[2016-03-31 20:43] yusefnapora commented on #67
right on; I'll close this then :)

I wish I knew enough about shapeless to help out with the new serializer.

[2016-03-31 20:43] #67 closed

[2016-05-13 07:58] wildroco commented on #49
Hi,

Why I have to query like this to get vertices by class?
graph.V.has("@class","xxx")
graph.V.hasLabel("class:xxx")

not like this? (by greamlin-scala syntax)
graph.V.has("xxx")

Is this difference come from nature of orientDB..?

...anyway, thx to your contributions very much!

[2016-05-14 07:34] wildroco opened #71 "Problem with traversing on indexed properties"
environment:
  OrientDB 2.1.15 (localhost)
  gremlin-scala 3.1.2-incubating.0
  orientdb-gremlin 3.1.1-incubating.1

When I traverse on indexed properties, got this exception:
java.lang.ClassCastException: com.orientechnologies.orient.core.record.impl.ODocument cannot be cast to com.orientechnologies.orient.core.id.ORecordId
(full stack trace is below)

This is my code raising exception.
---------

[2016-05-15 06:30] mpollmeier commented on #71
Can you put together a mini-repo with a test that demonstrates this, which I can use to test/verify? You could just take the orient project inside https://github.com/mpollmeier/gremlin-scala-examples

The fix is probably quite simple, but I don't have the time right now to setup everything myself.

[2016-05-15 06:36] mpollmeier commented on #49
`has(String)` always checks for property values, not class names, this is true for all gremlin variants and databases. not sure if I understood you correctly...?

[2016-05-15 10:48] wildroco commented on #49
Oh, sorry.

I mean: hasLabel(string)

And I found it works fine after some test.

Anyway, I queried my class "A" using
g. V. hasLabel("A")

and it seems works below too.
g. V. hasLabel("class:A")

Is there any difference or better way between them?

[2016-05-16 14:57] johnrevill commented on #71
I was getting the same `ClassCastExceptioon` with the same message, albeit coming from Java.
Though I'd post out what I found in case it helps..

For me, it turned out to be down to the way in which the index was created in code.
I was calling the `org.apache.tinkerpop.gremlin.orientdb.OrientGraph.createVertexIndex(String, String, Configuration)` method but with the wrong details in the `Configura

[2016-05-17 13:40] wildroco commented on #71
@mpollmeier @johnrevill thx!

I have try to create index with OrientGraph in wrong packge: com.tinkerpop.blueprints.impls.orient
which (may) from original OrientDB driver.

After I correct the package to OrientGraph to org.apache.tinkerpop.gremlin.orientdb.OrientGraph
and modify some codes as johnrevill sugessted, my index works perfectly :)

[2016-05-17 13:40] #71 closed

[2016-05-23 16:09] ddrozdov opened #73 "OrientDB 2.2.0"
2.2.0 has been released a couple of days ago. Are there any plans to upgrade?

[2016-05-23 19:29] velo commented on #73
I tried to, many tests failed.

[2016-05-23 19:47] velo commented on #73
I made a pull request with my changes:
https://github.com/mpollmeier/orientdb-gremlin/pull/74
In case you wanna pick where I dropped!

[2016-05-24 23:56] wildroco commented on #73
👍

[2016-05-25 12:55] ndelaforge opened #75 "Session loss & connection management strategy"
Hi all,

I am testing the couple [orientdb-gremlin](https://github.com/mpollmeier/orientdb-gremlin) and [gremlin-scala](https://github.com/mpollmeier/gremlin-scala) in production environment and I am experimenting data loss after some time. OrientDB is logging exceptions about unknown sessions :

[code]

So what is the best way to manage connection to OrientDB ?

[2016-05-26 11:43] mpollmeier commented on #75
not sure what that error is about, would be better to ask the orient guys, they are typically quite responsive.
i typically let orient handle the connection for me. all i do is
[code]

[2016-05-26 11:44] mpollmeier commented on #75
is there anything on the orient server console?

[2016-05-26 12:32] ndelaforge commented on #75
I am doing quite the same way.
[code]
And `com.orientechnologies.common.io.OIOException: Found unknown session X` are from orient server console.

I guess this has something to do with the way I manage graph instances.
My client app is also a server, so my graph instance is kept open.
It looks like orientdb is closing sessions after some time.

[2016-06-09 12:50] ErwanDemairy opened #76 "Usage and scalability"
Hello,
I am trying to build requests for a DB of around 10 millions edges.
I was surprised to see requests such as graph.traversal.E().hasNext() or graph.traversal.E().limit(1).toList() stuck until the memory is saturated: it appears these requests launch a full load of the database.
So my question: am I writing the requests correctly, especially with regards to how many edges or vertices are load

[2016-06-13 05:05] wildroco commented on #73
How's going on this issue?
I really hope to use v2.2.0 with this lovely driver!

[2016-06-13 05:08] velo commented on #73
I have no idea how to fix it

What I can do it's done https://github.com/mpollmeier/orientdb-gremlin/pull/74

[2016-06-14 15:45] ddrozdov opened #77 "Please release"
Would you please release the new version of this library since the latest gremlin-scala now depends on gremlin 3.2.0 and so is incompatible with orientdb-gremlin 3.1.1.

[2016-06-15 05:14] mpollmeier commented on #77
just released `3.2.0-incubating.0`

[2016-06-15 05:14] #77 closed

[2016-06-17 04:27] mpollmeier commented on #76
sorry for being quiet about this. this is not the official driver with support from the orient crew, but rather an implementation that works well for the use cases of the current contributors (mostly @velo and myself). it's not optimised for big scenarios like yours and has a few shortcomings around indices. I'll review the readme to make things more clear.

[2016-06-17 04:27] #76 closed

[2016-06-17 05:20] velo commented on #76
But, if you wanna help us solve this, pull requests are more them welcome!

[2016-06-29 07:01] ismaelpernas opened #79 "query by label and performance"
I have several classes in my OrientDB database but using 3 classes for this example (ClassA, ClassB and ClassC), in a tree like relationship. There are 13K vertices in the DB of which 2K are ClassA, 2K are ClassB and 2K ClassC. I want to query for all dependencies of ClassA, so I started by creating the following piece of code:

[code]

This piece of code prints all the ClassC as expected but it t

[2016-06-29 07:16] mpollmeier commented on #79
you're using it correctly, and it's correct that it doesn't use an index. what you're doing is querying the whole class, that's like a full table scan in a relational db.

The reason it's slow is that it's executing your traversal locally and has to serialise all elements. Following two `in` edges for the numbers you mentioned already creates a reasonable amount of elements to serialise. I'm guess

[2016-06-29 07:35] ismaelpernas commented on #79
I tried with plocal and it went down to 955ms.

Is it something that using 2.6 version supported by OrientDB 2.2 will improve?

My ultimate goal is to be able to get a count of dependencies by class type. For example: "Give me ClassA items where status = active and a count of their dependencies". It returns 10 ClassA items and a list of counts:
ClassA = items 1-10 and their properties
ClassB = 8
C

[2016-06-29 09:29] mpollmeier commented on #79
to improve the performance the driver would have to optimise your query, and run only the necessary steps on the DB side rather than serialising all these elements and sending them back and forth.
that's totally doable, but quite a lot of effort to implement, and should be done by the orient team, we've just made a start here with a prototype driver. sorry to destroy your dreams :)

[2016-06-29 10:05] ismaelpernas commented on #79
No problem Michael. Thanks for your reply!

[2016-06-29 22:23] #79 closed

[2016-07-18 15:54] jCalamari opened #81 "Roadmal for orientdb-gremlin"
Hi,

sorry for creating a github issue. I was not sure how to approach it.
Is there a roadmap for the project? Are you planning on upgrading to OrientDB 2.2 any time soon?

Thanks

[2016-07-18 19:43] velo commented on #81
There is a pull request for 2.2 in place, but, tests fail and I have no
idea why.

You are welcome to amend it.

On Tue, 19 Jul 2016 03:54 jCalamari <notifications@github.com> wrote:

[2016-07-20 01:27] velo commented on #81
https://github.com/mpollmeier/orientdb-gremlin/pull/74

[2016-07-26 09:59] ecausarano opened #82 "Creating vertices from case class with nested case class fields"
Hi,

I'm trying to persist a case class containing several other case classes. TinkerGraph tests work alright whereas when switching to OrientGraph causes a

...

Seems that in org.apache.tinkerpop.gremlin.orientdb.OrientElement#property(java.lang.Object...) the property is passed on as-is to the ODocument without mapping it first to another ODocument.

[2016-07-26 10:18] mpollmeier commented on #82
you don't provide much context so I can only guess, but let me guess that you're trying to persist one of your own classes via a remote connection to orientdb? that wouldn't work because orient doesn't know your classes

[2016-07-26 10:22] ecausarano commented on #82
Yup, that's the situation, eventually the ODocument sent off for saving contains an ODocumentEntry with the raw instance of my domain class. I think it should be also wrapped into an ODocument.

[2016-07-29 05:58] mpollmeier commented on #82
maybe i wasn't clear enough - you cannot send your own classes via a remote connection to orientdb. you need to transform them into a vertex first. gremlin-scala e.g. has a macro that does that job for you: https://github.com/mpollmeier/gremlin-scala/#mapping-vertices-fromto-case-classes

[2016-07-29 05:58] #82 closed

[2016-07-29 08:10] ecausarano commented on #82
Hi,

sorry for not being mistaken, but I was under the impression that this would work:
[code]

The problem is that the macro doesn't recur. If you step into the addVertex it'll call `org.apache.tinkerpop.gremlin.structure.Graph#addVertex(java.lang.Object...)` with a Foo object in the properties. The TinkerGraph implementation doesn't mind, but Orient does.

[2016-07-29 08:33] jCalamari commented on #82
This is general issue with scala classes/types. Funny part is, this works for memory storage, whereas remote doesn't.

[2016-07-29 08:50] ecausarano commented on #82
I guess it's because when running "in memory" the JVM knows how to serialize the CCs because they're in the classpath.

[2016-07-30 05:04] mpollmeier commented on #82
exactly - the in memory instance knows all your classes, but in production you're unlikely to run it this way. and yeah, quite possible that the macro doesn't support nesting.

[2016-08-04 16:48] jCalamari opened #84 "Release for OrientDB 2.1.17"
Hi guys,
Any chances for getting a release of orient-gremlin with OrientDB 2.1.17?
Thanks!

[2016-08-08 04:49] mpollmeier commented on #84
i'll shortly release one for 2.1.20, I hope that suits your needs?

[2016-08-08 05:07] mpollmeier commented on #84
released now, should be in mvn central shortly

[2016-08-08 08:47] jCalamari commented on #84
@mpollmeier  Thank you very much!

[2016-08-08 08:47] #84 closed

[2016-08-11 14:03] ttschampel opened #86 "Error in multi-threaded environment - getIndexManager"
When executing in a multi-threaded environment I get errors from calls into OrientGraph.getIndexManager()

Adding  makeActiveDb() to the method fixed the problem locally for me.

[2016-08-12 09:50] mpollmeier commented on #86
For OrientDB the rule is that one database instance can be used by a thread, because database instances are not thread safe.
https://github.com/orientechnologies/orientdb/issues/5490#issuecomment-219045655
https://github.com/mpollmeier/orientdb-gremlin/issues/16
http://orientdb.com/docs/last/Java-Multi-Threading.html

[2016-08-12 12:22] ttschampel commented on #86
I saw the multithreading docs for OrientDB and the accompanying calls to  makeActive() in the OrientGraph.  My use case was executing a traversal during a txn (checking for the existence of a vertex) which indirectly hit the index manager.

Are you saying things are executing as expected? Perhaps I'm improperly using the API?

[2016-08-14 05:58] mpollmeier commented on #86
I haven't actually tried to explicitly call `makeActive` when sharing the graph instance - I always went for multiple graph instances (one per thread).

[2016-08-16 13:40] fppt opened #87 "Support For createThreadedTx();"
Hi Guys,

Are there any plans to support createThreadedTx() ?

For my project I need to be able to give one thread multiple transactions and I can't find a way to do this using orientdb.

Thanks

[2016-08-17 07:41] mpollmeier commented on #87
this refers to http://stackoverflow.com/questions/38974122/creating-transactions-with-orientdb-gremlin

There's no plans at the moment, sorry. If you need it you implement it yourself I'm afraid. Would love to see this as a PR of course :)

[2016-08-18 14:58] fppt opened #88 "The Scope of a Transaction"
Hi,

I am a bit confused with regards to how orient is handling the `tx()` method. Specifically, if I do the following:

[code]

Everything appears to work. If I change the second `graph = factory.getNoTx();` to `graph = factory.getTx();`, then it fails.

Similarly if I make the 2nd to last commit `graph.tx().commit();` it fails again. In all cases it fails with this error:

[code]

Also it looks

[2016-08-25 07:41] mpollmeier commented on #88
hmm, this sounds like a bug. maybe it's related with the automated prefixing of the class name, i.e. V_ and E_? see https://github.com/mpollmeier/orientdb-gremlin#labels-and-classes

Can you check the names of the created classes in the two cases `addVertex` and `createVertexClass`?

[2016-08-31 09:11] fppt commented on #88
Hi mpollmeier,

I think it is a bug because when I watch the following classes:

    graph.database.browseClass("TYPE")
    graph.database.browseClass("V_TYPE")

they both throw exceptions initially, but after `createVertexClass` "TYPE" is valid and after `addVertex` "V_TYPE" is valid. So it appears `addVertex` appends the `V` and `createVertexClass` does not.

[2016-08-31 10:21] fppt commented on #88
For fun I tried to "fix" this issue: https://github.com/mpollmeier/orientdb-gremlin/pull/89 . Apologies if I am way off base.  I thought it might be a good way to get more into the code.

[2016-09-05 09:25] fppt commented on #88
Fixed with the referenced PR.

[2016-09-05 09:25] #88 closed

[2016-09-09 02:37] wildroco commented on #73
It is awesome that merged #74 successfully!

Could you release this one?

[2016-09-09 02:38] #73 closed

[2016-09-09 02:39] velo opened #92 "Setup rultor"
http://www.rultor.com/

Rultor gives on simple means to do releases...

That way, I could create releases as well =D

https://github.com/velo/maven-formatter-plugin/issues/16

[2016-09-09 08:12] mpollmeier commented on #81
just released 3.2.1.1 which upgrades to OrientDB 2.2 :)

[2016-09-09 08:12] #81 closed

[2016-09-09 08:13] mpollmeier commented on #73
just released 3.2.1.1 which upgrades to OrientDB 2.2 :)

[2016-09-12 15:15] fppt opened #93 "How Transactions Affect IDs"
Hello Again,

I have another problem. The following code fails:

    final String labelVertex = "VertexLabel";
    OrientGraph graph = new OrientGraphFactory("memory:myGraph").getNoTx();
    Vertex v1 = graph.addVertex(labelVertex);
    graph.tx().commit();

    v1 = graph.traversal().V().next();
    Vertex v2 = graph.addVertex(labelVertex);

    GraphTraversal<Vertex, Edge> traversal =graph.trave

[2016-09-14 09:39] mpollmeier commented on #92
hmm, looks really cool. will have a look some time

[2016-09-15 19:15] mpollmeier commented on #92
@rultor hello

[2016-09-15 19:16] rultor commented on #92
@mpollmeier Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-09-15 19:38] mpollmeier commented on #92
playing around in https://github.com/mpollmeier/orientdb-gremlin/pull/95

[2016-09-21 13:40] fppt opened #96 "Indexing Across Multiple Labels"
Hi Guys,

I have noticed that in order to create an index you have to do the following:

    BaseConfiguration indexConfig = new BaseConfiguration();
    indexConfig.setProperty(KEY_TYPE, otype);
    indexConfig.setProperty(UNIQUE, "UNIQUE");
    graph.createVertexIndex("property", "label1", indexConfig);
    graph.createVertexIndex("property", "label2", indexConfig);

This would make the followin

[2016-09-30 04:54] mpollmeier commented on #96
This would be totally possible, but we'd need to pimp the index lookup a bit. At the moment it's very simplistic: have a look at https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/main/java/org/apache/tinkerpop/gremlin/orientdb/traversal/step/sideEffect/OrientGraphStep.java#L121

It simply looks for the `hasLabel` step, get's the orient class and looks up the first index for the

[2016-09-30 11:40] fppt commented on #96
Thanks for the reply Michael. I will have a go at implementing this and will submit a PR if I have any luck.

[2016-10-06 13:45] fppt commented on #96
Took a very naive attempt at implementing this: https://github.com/mpollmeier/orientdb-gremlin/pull/97

[2016-10-16 04:42] mpollmeier commented on #92
Ok I spent enough time on this... I'm giving up. I'll keep the current state in branch `rultor` and revert some commits in master to get us back into a green state.
Here's what I tried and what went wrong, in case someone else wants to try fix rultor integration:

With all the described changes to the pom as described in http://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html WITHO

[2016-10-16 04:42] #92 closed

[2016-10-17 01:17] #96 closed

[2016-10-28 17:15] velo opened #99 "Upgrade orientDB to 2.2.12"
We are a few releases behind, would be nice to bring the latest and greatest into action.

[2016-10-28 17:37] velo opened #100 "Upgrade gremlin to 3.2.3"
A new release is out and we need to catch up
https://github.com/apache/tinkerpop/blob/3.2.3/CHANGELOG.asciidoc#release-3-2-3

[2016-10-30 01:34] #100 closed

[2016-10-30 13:07] #99 closed

[2016-10-31 05:22] velo opened #105 "Add graphson v2 support"
Gremlin 3.2.2 introduced graphson v2
https://github.com/apache/tinkerpop/blob/3.2.2/CHANGELOG.asciidoc#release-3-2-2

We need to implement support for this.

Currently the tests that check for it are disabled.
Removing this shall run unit tests for it
https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/test/java/org/apache/tinkerpop/gremlin/orientdb/gremlintest/OrientGraphProvide

[2016-11-01 07:08] #105 closed

[2016-11-03 07:28] mikolak-net opened #108 "Vertices "disappearing" after indexing on T.label"
In relation to the [gitter conversation](https://gitter.im/mpollmeier/gremlin-scala?at=5816fc4b8ed1c0ff5c483e18), it appears creating an index on `T.label` causes vertices to "disappear" from traversals on `T.label`.

This is relevant when e.g. using `gremlin-scala` to traverse all vertices of a given class.

Example code for reproducing the problem in below:

[code]

[2016-11-04 20:36] mpollmeier commented on #108
hey, just to let you know, I've reproduced this and can confirm it's a problem. i guess it's to do with the way we lookup values in indexes...

next steps: we'll need to add a test to https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/test/java/org/apache/tinkerpop/gremlin/orientdb/OrientGraphIndexTest.java and fix it, probably in `OrientGraphStep.findIndex`

will have a look on

[2016-11-07 05:55] mpollmeier commented on #108
ok, it's actually not a bug. you're using indexes the wrong way :)
an index purely on a label doesn't make sense - it's in it's own class, so there's basically an automatic index on it.
Indexes only make sense if you use them on a specific key, see some use cases in
If you look at https://github.com/mpollmeier/orientdb-gremlin/blob/master/driver/src/test/java/org/apache/tinkerpop/gremlin/orientdb/

[2016-11-07 21:00] mikolak-net commented on #108
@mpollmeier : thanks for the quick reaction. Your explanation makes complete sense. In fact, this was how I originally was creating the index (and furthermore I based that original reasoning partially on `OrientGraphIndexTest` :) ).

However, this way the index is not picked up for the `has(T.label, TestLabel)` traversal. You can see it for yourself when running the amended version, as it will out

[2016-11-07 21:50] mpollmeier commented on #108
if you just use `has(T.label, TestLabel)` then you can ignore that warning - it wouldn't make sense to use any index since you get all vertices from that class anyway. same as a full table scan in a RDBMS.
So you can ignore the warning in this case. Only if you further filter on a specific key should you make sure that you've got an index.

[2016-11-09 14:01] spmallette opened #109 "Update "TinkerPop" references to "Apache TinkerPop""
Please update references to "TinkerPop" or "TP3" to include the prefix of "Apache" so as to acknowledge Apache trademarks. I can offer a pull request if you'd like me to help out (simple change to README - just let me know) but the GitHub project description would be something to update on your end obviously.

[2016-11-09 14:03] luigidellaquila commented on #109
Hi @spmallette

Thank you very much for pointing this out. A PR will be very appreciated

Thanks

Luigi

[2016-11-11 14:29] jCalamari opened #110 "Composite index lookup"
Hello guys,

thank you for great work on integrating Gremlin with OrientDB!
Any ideas when orientdb-gremlin will support Composite index query?

Give a composite index:

```CREATE INDEX simple_composit_index ON Edge (from, to) UNIQUE```

Following query failes:

``` graph.E.hasLabel("Edge").has(Key[String]("from"), fromValue).has(Key[String]("to"), toValue)```

With message:

Stacktrace:

	at com.

[2016-11-13 15:36] mikolak-net commented on #108
Yes, the full table traversal analogy is pretty much obvious. And although the "disappearing" vertex problem when indexing still exists, it looks like it's more relevant to OrientDB itself.

One final thing to clarify - so, basically the warning is superfluous in this case, right? Is there enough information provided to the `TraversalStrategy` in order to avoid printing it out in this case?

[2016-11-14 15:40] maggiolo00 opened #111 "Labels and Classes conventions"
Hi Guys

i've started to work in the develop branch, i'm refactoring the code in order to use
the new MultiModel API that the Core of OrientDB will offer in 3.0. I've stumble upon the current
default labels convention
https://github.com/orientechnologies/orientdb-gremlin#labels-and-classes

I was able to make all the tests works with the new API, but i have to to configure this
`CONFIG_LABEL_AS_CL

[2016-11-15 01:13] mpollmeier commented on #111
We can remove that convention if there is a way to create vertices and edges that have the same name. Maybe that's possible with the new API, the old one didn't allow for that, they ended up in the same class.

[2016-11-15 01:16] mpollmeier commented on #108
Yup the warning is superfluous and could be avoided quite easily.

[2016-11-17 14:40] maggiolo00 commented on #111
@mpollmeier

i don't think that is possible with the new API. The problem is that using another convention over ODB convention will lead to incompatibility issue.
I've done this test, I've created a new database and executed this code

[code]

This will create the class vertex `Person` and the class Edge `E_Friend`

and this is a simple `select from V`

![screen shot 2016-11-17 at 15 11 33](https:

[2016-11-19 12:48] spmallette commented on #109
Sorry - i got distracted a bit and just came back to offer the PR when I noticed that the update has already been made. README looks good now. An edit to the GitHub project description would be nice too, but a PR can't fix that. Thanks for making that change.

[2016-11-19 12:48] #109 closed

[2016-11-19 18:36] mikolak-net commented on #108
OK, how would the avoidance strategy look like? A check on the graph features, something like that?

[2016-11-20 07:26] mpollmeier commented on #108
The function that looks up indexes is `OrientGraphStep.findIndex`. It has access to all steps in the traversal and at the moment just iterates through the `hasContainers`. See https://github.com/orientechnologies/orientdb-gremlin/blob/master/driver/src/main/java/org/apache/tinkerpop/gremlin/orientdb/traversal/step/sideEffect/OrientGraphStep.java#L157

One way to achieve what you want would be to c

[2016-11-22 14:19] ttschampel commented on #86
I see #112 has been pulled in. This can be marked as a duplicate of that issue - the changes for 112 are the same I did for a local workaround to get past this problem.

[2016-11-22 14:19] #86 closed

[2016-11-22 18:46] Jotschi opened #113 "Eclipse IDE Support"
Hi,

i'm currently trying to import the project (master@d0e14e1c) in my Eclipse IDE (Linux,Neon) but some imports can't be resolved:

_mvn clean package -DskipTests_ works fine

I'm not sure why this is not working. Any idea?

[2016-12-13 10:52] wolf4ood opened #114 "Gremlin Server Support"

[2016-12-15 18:17] giovibal opened #115 "Invalid class name found. Character '.' cannot be used in class name"
During import of an entire graph from my old titan based service, incurred into this exception:
[code]

We are evaluating the use of orientdb as backend of tinkerpop-gremlin-server, so our question is:
can this "limitation" be removed in future versions ?

[2017-01-05 11:44] fppt opened #116 "Duplicate indexing Nulls"
Hi Guys,

I create indices the following way:

    graph.createVertexIndex("prop1", "label1", indexConfig);
    graph.createVertexIndex("prop2", "label1", indexConfig);
    graph.createVertexIndex("prop1", "label2", indexConfig);
    graph.createVertexIndex("prop2", "label2", indexConfig);

The problem is that when I create vertices I am not guaranteed to fill every property for every vertex immed

[2017-01-05 11:49] luigidellaquila commented on #116
Hi @fppt

Since v.2.2 unique indexes also consider null values. You can disable this setting when you create the index setting ignoreNullValues=true, see http://orientdb.com/docs/2.2.x/SQL-Create-Index.html

Anyway, I suggest you not to use it, because indexes without null values cannot be used for some query optimizations, so you will lose performance in some corner cases

Thanks

Luigi

[2017-01-05 11:57] fppt commented on #116
Thanks @luigidellaquila. For the time being is there a way to disable indexing nulls using the available API of this plugin?

[2017-01-05 12:19] fppt commented on #116
I create it as follows:

    BaseConfiguration indexConfig = new BaseConfiguration();
    indexConfig.setProperty("keytype", OType.String);
    indexConfig.setProperty("type", "UNIQUE");
    graph.createVertexIndex("prop1", "label1", indexConfig);

[2017-01-05 12:43] luigidellaquila commented on #116
I think this should be enough:

[code]

Thanks

Luigi

[2017-01-05 12:51] fppt commented on #116
I added `indexConfig.setProperty("metadata.ignoreNullValues", true);` no joy sadly. Still getting the same exception.

[2017-01-05 13:28] luizmiranda7 commented on #110
I have the same issue here, any idea when Composite index will be supported?

[2017-01-18 17:47] bblonski opened #117 "NullPointerException on simple queries"
I have several times run into a NullPointerException on OrientEdge:48.  The rawDocument comes back null and throws the NPE on rawDocument.getClassName().  I'm not sure what's causing the issue.  Inspecting the database shows no issues and the queries will work for a time until suddenly they do not and will consistently throw NPEs until the database is reset.

Version is v3.2.3.0 against OrientDB s

[2017-01-18 23:48] bblonski commented on #117
Further investigation seems to indicate the issue occurs when records are removed from the database.  The traversal still tries to iterate through missing vertices which causes the null pointers.  I've tracked it back farther to OrientVertex:65.  The call to .rawIterator() appears to return deleted vertices.  Perhaps the call should be to .iterator() instead?

[2017-01-19 03:15] ken-at-sri commented on #117
In addition to calling .iterator() as bblonski suggested, I added a filter to ignore any nulls while streaming over the collection. This appears to have fixed the issue we were having. See attached diff.
[diff.txt](https://github.com/orientechnologies/orientdb-gremlin/files/715609/diff.txt)

[2017-01-26 12:55] fppt opened #118 "Determining if a Vertex or Edge has been modified?"
Hello Again,

Is there a way to know if a Vertex or Edge has been modified?

For example TitanDB has `TitanVertex#isModified()`. Is there anything similar ? I can't find anything in `OrientVertex` or `OrientElement`.

Can anyone point me as to how I may implement this if needs be?

Thanks,

Filipe

[2017-01-26 13:47] lvca commented on #118
You can use vertex.getRecord().isDirty(). If true, it has been modified. You can also access to what has been modified:
- `((ODocument)vertex.getRecord()).getDirtyFields()` returns the `String[]` of the modified fields
- `((ODocument)vertex.getRecord()).getOriginalValue(field)` returns the original value of a field

[2017-01-26 13:47] #118 closed

[2017-01-26 14:57] fppt commented on #118
Thanks @lvca . That's brilliant.

[2017-02-13 13:58] frne opened #119 "Case Class Mapping"
Is case class mapping (like in [gremlin-scala](https://github.com/mpollmeier/gremlin-scala#mapping-vertices-fromto-case-classes)) supported / on the roadmap?

The API looks like it's possible, but during compile the following error occures:

[code]

The following test reproduces the behavior (more or less c&p from gremlin-scala readme):

[code]

[2017-02-13 15:21] frne commented on #119
Turned out that it only doesn't work within tests. Also seems to be a general gremlin-scala issue.

[2017-02-13 15:21] #119 closed

[2017-02-25 15:28] flaviocordova opened #120 "Multi-Properties"
Tinkerpop Documentation says a property may have more than one value (http://tinkerpop.apache.org/docs/current/reference/#vertex-properties).

Just as an example: this works on gremlin console:

graph = TinkerGraph.open();
g = graph.traversal();
v = graph.addVertex("User");
v.property("name", "New with list prop");
v.property(list, "prop1", "value 1");
v.property(list, "prop1", "value 2");
g.V().h

[2017-02-25 18:55] velo commented on #120
Well, not all tinkerpop features are compatible with orient.

This is one of them.

Take vanilla OrientDB. Set a property. Set it again. It just overrides. Like a java map

[2017-02-25 23:47] flaviocordova commented on #120
Not exactly... OrientDB supports what it call "embedded list" and embedded set that match with both Cardinality.set and Cardinality.list. Couldn't the gremlin layer just select the suitable type according the the propertiy's cardinality ? It seems to make sense....

Once this working property, it has(prop, value) could just check see the field type to adapt the query. The query bellow works fine i

[2017-02-25 23:54] flaviocordova commented on #120
I haven't tested but according to the documentation, embedded list/set fields can be even indexed:

orientdb> CREATE PROPERTY Book.author STRING
orientdb> CREATE PROPERTY Book.title STRING
orientdb> CREATE PROPERTY Book.publicationYears **EMBEDDEDLIST** INTEGER
orientdb> CREATE INDEX books ON Book (author, title, publicationYears) UNIQUE

[2017-02-26 05:09] velo commented on #120
The question would then become: how to replace "prop1"

I'm not sure at this point how to differ append from override

On Sun, 26 Feb 2017, 12:54 flaviocordova <notifications@github.com> wrote:

[2017-02-26 05:30] flaviocordova commented on #120
Well, IMHO the proper way to set the property is using the Cardinality parameter to make explicit which behavior is expected. When cardinality is not specified, I don't see any problem if the provider choose whatever approach it want.

In other words, it's ok to replace as long as there's a way to aggregate.

[2017-02-27 08:32] du00cs opened #121 "[BUG/Feature] Light Weight Edge Support"
The implementation now will fail if the edge is a lightweight edge. Some configuration of a `lightweight` flag should be introduced and traverse of edge should take it into consideration.

Some changes below seems work,

[code]

Any suggestion?

[2017-03-01 02:51] du00cs opened #122 "High Cost of first query using OrientGraphFactory"
Hi, I notice that there are high cost of first query using OrientGraphFactory.

[code]

First query will exceed 100ms in my test,
`getNoTx` cost 517ms
`g.traversal().V()...toList()` cost 266ms.

How can I improve the performance?

[2017-03-01 14:16] christinedraper opened #123 "Support for gremlin 3.2.4"
I'm just getting started with tinkerpop and orientdb. I've been trying to install this plugin in the latest console (3.2.4) and getting dependency conflicts, so I'm guessing I need to downgrade to gremlin 3.2.3?

[2017-03-01 22:11] christinedraper commented on #123
I am able to :install into 3.2.3, but it doesnt appear as a plugin (because it doesnt implement the Plugin interface). I did:
[code]
and I seem to be able to use it within the console, e.g.:
[code]
So happy if you want to close this, but leaving open as it would be nice if it supported being a console plugin.

[2017-03-01 23:06] mpollmeier commented on #123
glad you got it sorted yourself. the main action in this repo seems to be in the `develop` branch, but there's not actually a lot going on at the moment. Supporting 3.2.4 should be straightforward (I think), someone just needs to release it. (I started this repo and then handed it over to orienttechnologies)

[2017-03-02 10:23] maggiolo00 commented on #123
Hi @christinedraper

The plugin interface has been implemented in develop,and it target OrientDB 3.0
see here

https://github.com/orientechnologies/orientdb-gremlin/tree/develop/driver/src/main/java/org/apache/tinkerpop/gremlin/orientdb/plugin

This repo has been aligned with the current development/release cycle of OrientDB.
Our plan is to make a OrientDB TP3 distribution with OrientDB community

[2017-03-02 14:13] christinedraper commented on #123
@maggiolo00 will the 3.0 release be compatible with OrientDB 2.2 server?

[2017-03-02 14:46] maggiolo00 commented on #123
@christinedraper
Do you mean the OrientDB TP3 driver 3.0 with  OrientDB 2.2 server?

[2017-03-02 14:59] christinedraper commented on #123
Yes

[2017-03-02 15:28] maggiolo00 commented on #123
@christinedraper

OrientDB TP3 3.0 driver uses OrientDB 3.0 libraries as dependency.
I don't think in this case will work due some changes on the wire protocol.

If you need those changes on the current driver i can backport the plugin stuff and  update the dependency to 3.2.4

[2017-03-02 16:15] christinedraper commented on #123
@maggiolo00 That would be very useful, thanks! Would you be able to publish it to Maven, too?

[2017-03-07 09:15] maggiolo00 commented on #123
hi @christinedraper

i guess we can publish it to Maven, but we still have to publish it under the `com.michaelpollmeier`
group id since in branch develop we switch to the new group id `com.orientechnologies` and the versioning will be aligned with OrientDB one

I will try to switch to 3.2.4.

@mpollmeier will you release once updated to 3.2.4 or can we release under `com.michaelpollmeier` ?

Than

[2017-03-07 09:21] mpollmeier commented on #123
Sure, I can release it, just let me know.

[2017-03-07 09:21] maggiolo00 commented on #123
Ok Thanks

[2017-03-20 16:08] ddrozdov opened #124 "Index is not used when hasLabel step has multiple labels"
In `OrientGraphStep.findIndex()`, since values iterator is created before class labels loop, it is iterated only for the first label and, for all the others, full index is queried from the DB.

[2017-03-21 22:29] christinedraper opened #126 "Invalid results (missing vertices) with multi-field index"
I am creating a class and index as follows:
[code]
Then using the 3.2.3 driver via Gremlin console (connecting to 2.2.12 OrientDB server), I do:
[code]

Doing any of:
[code]
returns the vertex, however:
[code]
does not.

Worse, when running in Java I am getting duplicate record problems, which I think is because the code is not finding the existing vertex due to the above, and is then trying to cr

[2017-03-22 09:08] maggiolo00 commented on #126
Hi @calebbriggs

thanks for this issue.
Let me try to reproduce it

Thanks

[2017-03-22 10:23] #124 closed

[2017-03-22 14:16] christinedraper commented on #110
I have encountered the same problem when running using an in-memory database. However, the composite index seems to work (with some caveats #126) when running against a remote database. (

[2017-03-31 15:30] GabCamarda commented on #114
This would be very much appreciated! You would give devs the possibility to code with clients in different languages and it would also mean that we can use the same interface for multiple vendors.
Thanks!

[2017-04-13 00:37] zifnab87 opened #127 "could you please expose 3.2.3.1-SNAPSHOT to sonatype repository?"
Hi I am trying to bring make OrientDB to work again through spring-data (https://github.com/zifnab87/spring-data-gremlin/tree/TP3-before-merge) using Tinkerpop 3.2+. I am curious if it is possible that the 3.2.3.1-SNAPSHOT is exposed in a repo so I can get it easily. Thanks!

[2017-04-13 11:41] maggiolo00 commented on #127
hi @zifnab87

we started to rolling a snapshot here

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-gremlin/3.0.0-SNAPSHOT/

The version number of the driver has been aligned with OrientDB 3.x development and now supports TP3 3.2.4.

Do you need TP3 3.2.4 support for OrientDB 2.2.x ?

[2017-04-13 11:44] zifnab87 commented on #127
Thanks! I have seen that.. my main problem is that OrientDB-core still uses blueprints.Vertex etc instead of the latest Tinkerpop3

[2017-04-13 11:50] maggiolo00 commented on #127
@zifnab87

yes in 2.2.x if you use the module `orientdb-graph`. Starting from 3.x we develop our own MultiModel API (Graph/Document) and the TP3 driver uses those API.

[2017-04-13 11:52] zifnab87 commented on #127
Oh I see so which dependencies do I need for 3.x so that Tinkerpop 3 is supported natively? Do you have a snapshot or something? Thanks

[2017-04-13 13:00] maggiolo00 commented on #127
hi @zifnab87

yes we have a snapshot [here](https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-gremlin/3.0.0-SNAPSHOT/)

you can add it with

[code]

Please tell me if you need further help
Thanks

[2017-04-13 16:45] zifnab87 commented on #127
Yeah I have used that already - I mean orientdb 3.x with native Tinkerpop 3.2.x support - do you have a snapshot for that? Thanks!

[2017-04-13 16:47] maggiolo00 commented on #127
Yeah we have a snapshot of OrientDB + Tp3

https://oss.sonatype.org/content/repositories/snapshots/com/orientechnologies/orientdb-community-tp3/3.0.0-SNAPSHOT/

[2017-04-13 21:13] zifnab87 commented on #127
This is great! A few more questions.. any clue where I can find those - I couldn't find any repository of the code above so I can find those methods somewhere! Thanks!

http://orientdb.com/javadoc/latest/com/tinkerpop/blueprints/impls/orient/OrientBaseGraph.html#getVertexBaseType--
http://orientdb.com/javadoc/latest/com/tinkerpop/blueprints/impls/orient/OrientBaseGraph.html#getEdgeBaseType--
http:

[2017-04-14 13:48] maggiolo00 commented on #127
Hi @zifnab87

in the new repo

`OrientBaseGraph#getRawGraph` has been replaced by `OrientGraph#getRawDatabase`

For the other APIs i think there is no equivalent. You can use directly the API of`ODatabaseDocument` from  `OrientGraph#getRawDatabase`

[2017-05-19 10:33] maggiolo00 opened #128 "AutoStart Tx when Transactional"

[2017-05-24 15:22] #128 closed

[2017-05-25 23:29] maggiolo00 opened #129 "Gremlin Example with DemoDB"

[2017-06-05 08:49] maggiolo00 opened #130 "Change executeSQL ResultSet"
`executeSQL` api should wrap the underlying `OResultSet` of OrientDB and return OrientVertex/OrientEdge structure.

[2017-06-05 14:44] maggiolo00 commented on #130
Implemented in `OGremlinResultSet`

[2017-06-05 14:44] #130 closed

[2017-06-05 17:47] maggiolo00 opened #131 "Transaction Configuration"
Transaction should support configurations
http://tinkerpop.apache.org/docs/current/reference/#transactions

[2017-06-09 10:03] maggiolo00 opened #132 "Basic Traversal Optimization"
- [x]  Simple Count Optimization (`g.V().count()`)
- [x]  Match Optimization

[2017-06-29 15:36] #132 closed

[2017-07-06 07:09] maximskripnik opened #133 "Record metadata not found exception"
Hello guys, thanks for this project, but it seems I can not do one of the simplest things:

[code]

Why am I getting
```com.orientechnologies.orient.core.exception.ODatabaseException: Record metadata for RID: #7:42, Not found```?
Following the exception stack, I guessed that it's because of this call:
```at com.orientechnologies.orient.core.db.document.ODatabaseDocumentTx.getRecordMetadata``` and

[2017-07-19 06:44] KeshavZbhide opened #134 "How to install this driver on gremlin server?"
^^ tittle ^^

[2017-07-19 10:48] maggiolo00 commented on #134
Hi @KeshavZbhide

can you share your configuration?

[2017-07-19 13:38] #131 closed

[2017-07-19 13:47] maggiolo00 commented on #133
hi @maximskripnik

does the record `#7:42` exists?

[2017-07-19 14:02] maximskripnik commented on #133
Hello @maggiolo00

No, like I wrote, the record indeed does not exist. Database is completely empty for the the moment of test execution. I just find exception throwing a bit too loud way to notify about that.

And I think that [this test](https://github.com/orientechnologies/orientdb-gremlin/blob/master/tests-scala/src/test/scala/OrientSpecBehaviours.scala#L37) agrees with me since it doesn't int

[2017-07-20 04:13] KeshavZbhide commented on #134
Thanks for responding, here are the links for all configurations.
[complete log](https://jpst.it/11Pdj)
[gremlin-server-orientdb.yaml](https://jpst.it/11Pe2)
[orientdb-empty.properties](https://jpst.it/11Pep)

[2017-07-31 08:45] maximskripnik commented on #133
@maggiolo00 Can you please help me with this? The question should not be complex, but it somewhat blocks me.

Thank you

[2017-07-31 08:50] maggiolo00 commented on #133
Hi @maximskripnik

why are you trying to load a vertex that does not exist?

What do you expect from that apis?

[2017-07-31 08:53] maximskripnik commented on #133
@maggiolo00 I expect empty list. Please explain the difference between my case and this test: https://github.com/orientechnologies/orientdb-gremlin/blob/master/tests-scala/src/test/scala/OrientSpecBehaviours.scala#L37

The only I see is that there is inmem db used in the test. But shouldn't language be agnostic to the database location?

[2017-07-31 10:17] maggiolo00 commented on #133
Hi @maximskripnik

which version are you using?

Yes it should behave the same way

[2017-07-31 11:40] maximskripnik commented on #133
@maggiolo00
I use "3.2.3.0". I can give you complete sbt project with this test, do you need it?

[2017-07-31 11:42] maggiolo00 commented on #133
@maximskripnik

let me try it locally. I've tried with the development version 3.0.0-snapshot with remote and it was ok without exception. Let me try with latest stable

[2017-08-01 09:33] maximskripnik commented on #133
Hello @maggiolo00
Any updates on this?

[2017-08-01 10:00] maggiolo00 commented on #133
hi @maximskripnik

i've reproduce it. In remote the workflow is different and you get an exception for the record not found. By using OrientDB-Gremlin 3.0.m2 works fine since the check for non existing records has been removed from the Driver.
Let me check if we can do something for the release  3.2.3.x in `com.michaelpollmeier`

[2017-08-01 10:20] maximskripnik commented on #133
@maggiolo00 Thank you for your time. Should I wait for update on this release or better use 3.0.0.M2?

[2017-08-01 10:24] maggiolo00 commented on #133
@maximskripnik

depends on your project timeline. 3.0.0.M2 works only with OrientDB 3.0.m2 and the GA will be out
Q4 this year. I can fix this and schedule a release if you need this.

Thanks

[2017-08-01 10:37] maximskripnik commented on #133
@maggiolo00
It would be really nice if you could fix this, because waiting for Q4 is not an option.

Thank you!

[2017-08-04 09:38] #133 closed

[2017-08-04 09:39] maggiolo00 commented on #133
Hi @maximskripnik

i've pushed a fix for this. I've also updated the ODB and Apache Tinkerpop 3 version.

[2017-08-04 10:16] maggiolo00 commented on #133
Hi @mpollmeier

do you think we can schedule the release of `3.2.3.1` on `com.michaelpollmeier` ?

Thanks

[2017-08-04 13:03] rtfpessoa opened #135 "Double index problems?"
I am having problems running this query:

[code]

when I have an index like this:

[code]

it seems that he is trying to convert the value of the second field of the index to the type of the first element of the index giving this exception:

[code]

If I change the index to:

[code]

The error changes to:

[code]

I noticed this two (#126 #110) similar issues but not sure if it can be the same pro

[2017-08-04 13:22] maggiolo00 commented on #135
Hi @rtfpessoa

should be related in composite indexing usage.

Let me chekc

[2017-08-04 14:03] maggiolo00 commented on #135
Hi @rtfpessoa

how did you create the class?

[2017-08-04 14:05] rtfpessoa commented on #135
Should be this:

[code]

[2017-08-05 01:28] mpollmeier commented on #133
@maggiolo00 it'd be mucher better for all of us if you could release it under com.orientdb. I don't currently use the driver myself. if you have something that needs to be urgently released, I can do it one last time, but otherwise can you please rename the org and release it yourself?

[2017-08-05 07:54] maggiolo00 commented on #133
@mpollmeier

ok no problem we'll handle the release. Thanks :)

[2017-08-07 09:35] rtfpessoa commented on #135
btw a colleague just found that this problem only happens with index type `UNIQUE_HASH_INDEX`, `NOTUNIQUE_HASH_INDEX` if you use for example `UNIQUE`, `NOTUNIQUE` it works fine.

[2017-08-07 10:30] rtfpessoa commented on #135
Apparently the query only works if I also use both the filters of the index. If I do a query on only one of the index params it will fail.

Do you have any news?

[2017-08-07 10:49] maggiolo00 commented on #135
Hi @rtfpessoa

that's because the hash index cannot be used in order to do lookup with partial key.
If you want to use partial key you should use `UNIQUE` or `NOTUNIQUE`

[2017-08-07 12:41] rtfpessoa commented on #135
@maggiolo00 but even with `UNIQUE` seems like it does not work.

Just to make this clear. If I have some queries that do not want to use the index how can I do it?

[2017-08-07 12:50] maggiolo00 commented on #135
hi @rtfpessoa

do you get the same exception with `UNIQUE`?

I don't think you can remove the Optimization Step per query but let me check

[2017-08-07 12:54] rtfpessoa commented on #135
We tested with unique and I also get that problem.

[2017-08-07 13:15] rtfpessoa commented on #135
Also when we use `UNIQUE_HASH_INDEX` or `NOTUNIQUE_HASH_INDEX` index even with the two keys we get:

[code]

[2017-08-07 13:21] rtfpessoa opened #136 "Index not updated?"
We just experienced a weird case where we are using an `UNIQUE` index with two properties and sometimes the query returns empty but if we remove the index the query returns the value. Seems like the index is not being updated correctly? Any ideas?

[2017-08-07 13:23] maggiolo00 commented on #136
hi @rtfpessoa

how can i reproduce it?

[2017-08-07 13:29] rtfpessoa commented on #136
We are inserting a large quantity of data with the same structure as before, one class with three fields and then two are used in the index.

[code]

then we do this query before inserting a value in the db:

[code]

If we do not get the value we create the vertex.
With the index "sometimes" it fails because is trying to insert a value that already exists.

[2017-08-07 13:34] maggiolo00 commented on #136
hi @rtfpessoa

which version are you using of the OrientDB Gremlin driver?

[2017-08-07 13:35] rtfpessoa commented on #136
I think the last one for version 2 stable:
`"com.michaelpollmeier" % "orientdb-gremlin" % "3.2.3.0"`

[2017-08-07 13:58] maggiolo00 commented on #136
@rtfpessoa

Maybe it could be related to https://github.com/orientechnologies/orientdb-gremlin/issues/135

If you remove the index all works fine?

Is your importer MultiThread?

[2017-08-07 13:59] rtfpessoa commented on #136
Maybe is related to 135. My importer is single threaded at the moment. Do you have any suggestions of more stable ways to interact with OrientDB from Java/Scala?

[2017-08-07 14:07] maggiolo00 commented on #136
@rtfpessoa

For now the support of multiple field index is not optimal
Most of the work has been done in the develop branch for this driver. Since the official support will start with OrientDB 3.0
http://orientdb.com/orientdb-officially-supports-tinkerpop-3/

If you can provide some script to reproduce we can work on a fix in master branch

Otherwise you can use the Official JAVA APIs for OrientDB

[2017-08-07 14:18] maggiolo00 commented on #136
@rtfpessoa

are you using `gremlin-scala` ?

[2017-08-07 14:49] rtfpessoa commented on #136
I am currently using gremlin-scala

[2017-08-07 16:01] wolf4ood opened #137 "OrientGraphStep Refactoring"
`OrientGraphStep`  now tries to optimize when it possible the has conditions in order to use the optimal index. This sometime fails also with exceptions

https://github.com/orientechnologies/orientdb-gremlin/issues/135
https://github.com/orientechnologies/orientdb-gremlin/issues/136
https://github.com/orientechnologies/orientdb-gremlin/issues/110

Ideally the `OrientGraphStep` should be converted

[2017-08-08 12:30] maximskripnik commented on #133
Hello @maggiolo00
Thank you very much for the fix. Is there an estimate date for this 3.2.3.1 version?

[2017-08-08 13:29] maggiolo00 commented on #133
Hi @maximskripnik

we are going to release the driver with `com.orientechnologies` group id

I think we will reversion it to 2.2.26 in order to have the same release cycle of OrientDB.

It should be released this week i think

[2017-08-19 10:54] jacques- commented on #114
Would be great to have this! What is the current status?

Seems like it should work, but running into problems: https://stackoverflow.com/questions/45730131/the-database-instance-is-not-set-in-the-current-thread-when-using-gremlin-serv

[2017-08-21 08:59] maggiolo00 commented on #114
Hi @jacques-

the support for the Gremlin server is not yet landed and the current `OrientGraph` implementation has not been tested with the Gremlin Server but I guess the observation in the question are right.

The OrientGraph cannot be shared between threads since it holds a `ODatabaseDocument` reference that is not thread safe

[2017-08-25 02:37] maximskripnik commented on #133
Hello @maggiolo00

Any updates on release date for 2.2.26?

[2017-08-25 13:31] maggiolo00 commented on #133
Hi @maximskripnik

sorry we didn't make it for 2.2.26.
We will make it i think for 2.2.27

[2017-09-08 15:29] Usnul commented on #122
likely class loader is to blame. Java will only load classes when they are being used, meaning when you instantiate an object with large class hierarchy behind it - it will take a lot of time. Try:
[code]

[2017-09-14 08:29] maggiolo00 commented on #133
hi @maximskripnik

we have released the 2.2.27 version of the driver with this fix
Thanks

[2017-09-27 10:14] luigidellaquila commented on #117
Hi @bblonski

Is this issue still valid? I checked the code but too many things have changed, so the patch from @ken-at-sri cannot be applied anymore

Thanks

Luigi

[2017-09-27 10:15] luigidellaquila commented on #117
Ops, sorry, checked the wrong implementation (TinkerPop2), assigning to @maggiolo00  for a check

Thanks

Luigi

[2017-11-06 11:12] stuarthendren opened #139 "Support for tinkerpop 3.3.0"
When using with version 3.3.0 I get a NoSuchMethodException for

`org.apache.tinkerpop.gremlin.structure.io.Io$Builder.registry`

Is there a plan to support 3.3.x?

[2017-11-06 14:47] maggiolo00 commented on #139
Hi @stuarthendren

yes the support for 3.3.x will come with the Official support of Apache TinkerPop in OrientDB 3.0

[2017-11-24 09:56] vaioco opened #140 ":install in gremlin console (REPL)"
Hi *,
I'm using gremlin console 3.3.0, on installation of OrientDB gremplin plugin I got this error:

gremlin> :install com.michaelpollmeier orientdb-gremlin 3.2.3.0
==>Error grabbing Grapes -- [download failed: commons-lang#commons-lang;2.6!commons-lang.jar]

Then, I tried also with

gremlin> :install 'com.orientechnologies' orientdb-gremlin  3.0.0m2
==>Error grabbing Grapes -- [unresolved depend

[2018-01-30 20:58] rrmerugu commented on #129
any update ?

[2018-02-03 20:04] misu200 opened #141 "mid traversals not using available index"
I am using OrientDB 3 RC1 (Gremlin+TInkerpop 3 community edition)

In the Tinkerpop 3 ref docs it says:
"Whether a mid-traversal V() uses an index or not, depends on a) whether suitable index exists and b) if the particular graph system provider implemented this functionality."

It seems OrientDB gremlin not implemented yet this functionality so for the following kind of query even if I have a UNI

[2018-02-03 22:55] misu200 commented on #141
I ve made some progress rewriting the query to use sideEffect() :

g.V().hasLabel("Firma").sideEffect{  g.V().hasLabel("Adresa").has("adresa",it.get().property('adresa').value()).addE('Location').from(it.get()).next()
}

However after a few seconds OrientDB logs keep showing messages like :
"2018-02-04 00:39:11:369 WARNI {db=ter1050} This database instance has 1260 open command/query result sets,

[2018-02-04 15:42] maggiolo00 commented on #141
Hi @misu200

how are you executing this traversa?

[code]

with the gremlin-console through the embedded gremlin-server?

Thanks

[2018-02-04 20:09] misu200 commented on #141
I ve tried it both ways:
  1) Run it in OrientDB Studio web interface
  2) Gremlin Console....something like this:
[code]
   It is hitting the index for first traversal filter ( has("cui","33034700") ) but for the mid-traversal is not hitting the index .

[2018-02-05 10:14] maggiolo00 commented on #141
Hi @misu200

yes the index is used in first traversal index. I think mid-traversal is not supported yet.

Let me check for the logs that could be a bug

Thanks

[2018-02-23 12:23] amoorthaemer commented on #134
I'm interested also in setting this up ... Any pointers yet?
TIA
Bert

[2018-03-21 12:23] artem-aliev opened #142 "SEARCH_CLASS lucent query usage in gremlin?"
Is it possible to use lucent query in gremlin has() step?

[2018-04-27 12:08] Froskekongen opened #143 "Connect to OrientDB through gremlin-python"
While this may be the wrong place for such an inquiry, I try, nonetheless:

Using gremlin-python, how can I connect to OrientDBs gremlin-server?

I have tried running `docker run -d --name orientdb -p 2424:2424 -p 2480:2480 -e ORIENTDB_ROOT_PASSWORD=root orientdb:3.0.0RC2`  with the following
[code]
Also, with variations in the connect string. This results in a timeout.

[2018-04-30 08:36] maggiolo00 commented on #143
Hi @Froskekongen

`2424` is the binary port for OrientDB protocol.  You should use the port of the GremlinServer if you want to connect with the gremlin python driver. By default should be `8182`

[2018-04-30 08:40] Froskekongen commented on #143
As you can see in `ws://localhost:2424/demodb`, I am already using port `2424`.

[2018-04-30 08:42] maggiolo00 commented on #143
That's why i suggested `8182`. 2424 is reserved of OrientDB protocol, not GremlinServer one.

http://tinkerpop.apache.org/docs/current/reference/#connecting-via-python

[2018-04-30 08:45] Froskekongen commented on #143
I will try this. I also suggest you update the dockerfile to explicitly expose port 8182 (: [(Dockerfile)](https://github.com/orientechnologies/orientdb-docker/blob/122a4976eef7341c9c39f0050e41aec0468909a9/3.0/x86_64/alpine/Dockerfile)

[2018-06-18 05:34] Akshay-15mca1098 opened #146 "OrientDB Gremlin server not working in python"
I know this is not a good place to post this question but I need to find the answer.

I am using the orientdb and gremlin server in python, Gremlin server started successfully, but when I am trying to add a vertex to the orientdb through gremlin code it's giving me an error.

`query = """graph.addVertex(label, "Test", "title", "abc", "title", "abc")"""`

following is the Traceback

[code]

[2018-06-18 09:18] maggiolo00 commented on #146
Hi @Akshay-15mca1098

which version of OrientDB?

[2018-06-18 10:13] Akshay-15mca1098 commented on #146
OrientDB 3.2.3

[2018-06-18 10:58] Akshay-15mca1098 commented on #146
I don't know I am on the right path but I followed this [post](https://groups.google.com/forum/#!topic/gremlin-users/YOmjLbl9ObY). According to that, I downloaded some jar files `bin/gremlin-server.sh -i com.michaelpollmeier orientdb-gremlin 3.2.3.0 ` but now, when I tried to install 3.3.0 version it gives me an error.

[2018-06-19 06:32] Akshay-15mca1098 commented on #146
how can I install Gremlin Driver version 3.0.2?

[2018-06-19 07:47] Akshay-15mca1098 commented on #146
is there any documentation to configure all requirements

[2018-06-19 08:12] Akshay-15mca1098 commented on #146
Hi @maggiolo00 I tried to start the server but some GraphFactory error I get. is there anything i have to download?. also I attached a screenshot for more clarity
![image](https://user-images.githubusercontent.com/29207885/41584873-0f33f206-73c6-11e8-8808-781e61f91145.png)

[2018-06-19 09:50] maggiolo00 commented on #146
Hi @Akshay-15mca1098

can you share your configuration?

[2018-06-19 09:50] maggiolo00 commented on #146
@Akshay-15mca1098

about docs. I'm updating it now

[2018-06-19 10:02] Akshay-15mca1098 commented on #146
gremlin : apache-tinkerpop-gremlin-server-3.3.1
OrientDB: orientdb-tp3-3.0.2
gremlinpython : 3.3.0
For download jar files use this `bin/gremlin-server.sh -i com.orientechnologies orientdb-gremlin 3.0.2`

[2018-06-19 10:03] maggiolo00 commented on #146
@Akshay-15mca1098

can you share `gremlin-server-orientdb.yaml` and `orientdb-empty.properties`?

Thanks

[2018-06-19 10:06] Akshay-15mca1098 commented on #146
gremlin-server-orientdb.yaml file
[code]
orientdb-empty.properties file

`gremlin.graph=org.apache.tinkerpop.gremlin.orientdb.OrientEmbeddedFactory`

also, I tried with also

`gremlin.graph=org.apache.tinkerpop.gremlin.orientdb.OrientGraph`

[2018-06-19 10:09] maggiolo00 commented on #146
@Akshay-15mca1098
Ok let me try

[2018-06-19 10:11] maggiolo00 commented on #146
@Akshay-15mca1098

does the install

[code]

succeed?

[2018-06-19 10:12] Akshay-15mca1098 commented on #146
yes

[2018-06-19 10:15] maggiolo00 commented on #146
i have this error while trying to install the driver in a gremlin server

[code]

[2018-06-19 10:19] Akshay-15mca1098 commented on #146
Working in my system

![image](https://user-images.githubusercontent.com/29207885/41591753-418f5102-73d8-11e8-9a00-0e90758cd165.png)

[2018-06-19 10:36] Akshay-15mca1098 commented on #146
Is there any other way please let me know. I am not tied up with this installation.

[2018-06-19 10:46] maggiolo00 commented on #146
Hi @Akshay-15mca1098

the correct implementation for the Graph is

[code]

Then i think you need to change

[code]
That binds `g` traversal to globals

You can use `empty-sample.groovy` in the scripts directory

[2018-06-19 10:53] Akshay-15mca1098 commented on #146
okay let me try this

[2018-06-19 10:57] Akshay-15mca1098 commented on #146
Hi @maggiolo00  after changes it was successfully configured with the property but some more error occurs. Is it working in your system

[code]

[2018-06-19 11:03] Akshay-15mca1098 commented on #146
what I understood you are telling to change the file's path to this [../scripts/empty-sample.groovy]

[2018-06-19 11:06] maggiolo00 commented on #146
by seeing other configuration in the gremlin server should be
`[scripts/empty-sample.groovy]`

[2018-06-19 11:27] Akshay-15mca1098 commented on #146
I tried with the changes error was not getting but also server is not started
![image](https://user-images.githubusercontent.com/29207885/41594691-dc60eab6-73e1-11e8-8eec-d395504dccc6.png)

[2018-06-19 12:28] maggiolo00 commented on #146
I had no problem on my system.
![screen shot 2018-06-19 at 14 27 09](https://user-images.githubusercontent.com/98812/41597147-e97793d6-73cc-11e8-9561-90237141b6cd.png)

Can you run `kill -3 <pid>` of the Gremlin Server and paste here the thread dump?

Thanks

[2018-06-19 16:44] Akshay-15mca1098 commented on #146
no such process is shown when i kill the pid

[2018-06-19 16:46] maggiolo00 commented on #146
After `kill -3 8182`

you should check the logs in GremlinServer terminal or logs

[2018-06-19 16:55] Akshay-15mca1098 commented on #146
[code]
no process is there

[2018-06-19 16:56] Akshay-15mca1098 commented on #146
server struck after this process
![image](https://user-images.githubusercontent.com/29207885/41612223-ddcc5402-740f-11e8-9bf6-7d8b1869ec2b.png)

[2018-06-19 16:59] Akshay-15mca1098 commented on #146
did you download the jar files from this command
`bin/gremlin-server.sh -i com.orientechnologies orientdb-gremlin 3.0.2`

[2018-06-19 16:59] maggiolo00 commented on #146
@Akshay-15mca1098

[code]

you can run `jps` to quickly find the pid of the gremlin server

[2018-06-19 17:00] maggiolo00 commented on #146
@Akshay-15mca1098

yes i fixed it and i was able to install the plugin with

[code]

[2018-06-19 17:09] Akshay-15mca1098 commented on #146
I don't know why its the server is not started on my system.

I have posted a question on StackOverflow with the current configuration. one of the gremlin people has responded and he said I messed up some version. I shared you the link can you check.
[](https://stackoverflow.com/questions/50926464/graphfactory-could-not-find-gremlin-graph-property-configration)

[2018-06-19 17:21] maggiolo00 commented on #146
@Akshay-15mca1098

the error posted on StackOverflow has been resolved using OrientFactory.

Now let's try to find the reason for the stuck.

[2018-06-19 17:22] maggiolo00 commented on #146
Can you share the entire startup log?

[2018-06-19 17:29] Akshay-15mca1098 commented on #146
valid point, I think I should download Gremlin Server 3.3.0

[2018-06-19 17:42] Akshay-15mca1098 commented on #146
@maggiolo00
Can you share the entire startup log?

[code]

[2018-06-20 03:16] Akshay-15mca1098 commented on #146
Hi @maggiolo00
did you put database, username, and password in the `orientdb-empty.properties` file.

[2018-06-20 03:40] Akshay-15mca1098 commented on #146
now i am getting some different error, when i am not putting the DB name, username and password it gets the below error
[code]

[2018-06-20 07:32] maggiolo00 commented on #146
@Akshay-15mca1098

this is not correct

`./gremlin-server.sh -i com.orientechnologies orientdb-gremlin-server 3.0.2`

This is the right one

`./gremlin-server.sh -i com.orientechnologies orientdb-gremlin 3.0.2`

Can you please share the orientdb-empty.properties that you are using when the server is not starting?

And remove the  custom authenticator

From the YAML
[code]

[2018-06-20 07:37] Akshay-15mca1098 commented on #146
`./gremlin-server.sh -i com.orientechnologies orientdb-gremlin-server 3.0.2` but this also download the jar fiiles
orientdb-empty.properties
[code]

[2018-06-20 07:43] Akshay-15mca1098 commented on #146
Yaa it's working fine
thanks a lot man

[2018-06-20 07:45] maggiolo00 commented on #146
Cool!

[2018-06-20 07:45] #146 closed

[2018-06-22 07:08] Akshay-15mca1098 opened #148 "Multiple relationship issue"
1. Let's create 3 vertices (with no relationship) [works fine]
[code]

2. Link master with abc [ works fine]
`g.V().hasLabel("Master").addE("relation").to(g.V().has("Test","title",'abc'))`

3. Link master with xyz [Fails]
`g.V().hasLabel("Master").addE("relation").to(g.V().has("Test","title",'xyz'))`

**ERROR**
`Cannot UPDATE the record #59:3 because the version is not the latest. Probably you are

[2018-07-10 12:53] maggiolo00 commented on #142
Hi @artem-aliev

unfortunately is not supported

[2018-07-11 09:44] maggiolo00 commented on #148
Hi @Akshay-15mca1098

i've just pushed a fix for this. It will be available in the next OrientDB 3.0.4 GA release.

[2018-07-11 09:44] #148 closed

[2018-07-18 21:35] To-om commented on #93
I have the same issue: I get IDs with `:-2`. The gremlin step "hasId" fails with these IDs:
[code]

[2018-07-19 08:36] To-om commented on #93
Actually, my hasId problem is not related to this issue. HasId step fails with any string representation of ID.

[2018-07-19 09:11] maggiolo00 commented on #93
Hi @To-om

yes it is different. I see a problem on the generated query. Let me fix it

Thanks

[2018-07-19 09:32] maggiolo00 commented on #93
Hi @To-om

how can i reproduce this?

[2018-07-19 09:51] To-om opened #150 "hasId step fails"
The gremlin step `hasId` fails with the error:
[code]
I've done the PR #149 to add unit tests.

[2018-07-19 09:52] To-om commented on #93
I've created a dedicated issue (#150) with unit tests (#149)

[2018-07-19 14:33] maggiolo00 commented on #150
Hi @To-om

Thanks for the test cases. I've reproduces it and fixed
I've integrated your tests in our test suite here

https://github.com/orientechnologies/orientdb-gremlin/commit/82dd280a2c7a08e104991aeda54cf9be480eed3d#diff-1494a2e455881effe25f767e3c12679bR160

The fix will be available in the next release 3.0.5 or in the next snapshot

[2018-07-19 16:57] To-om commented on #150
Thank you for your quick fix. I confirm that it solve the parsing error. Unfortunately, I still have issue in my project.
In the same transaction I do create a vertex using defined class (I used strict schema) then
[code]
I have not yet succeeded in reproducing the problem in an unit test.

[2018-07-23 16:38] remi-sap opened #151 "Build fail"
Hello,
I couldn't find the build so I installed maven, cloned the project and launched a build.
It failed. Please provide a jar or the steps to build it.

cd driver
mvn install -D "orientdb.version=3.0.4"

Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T18:33:14Z)
Maven home: /home/i063909/maven/apache-maven-3.5.4
Java version: 1.8.0_102, vendor: Oracle Corporation, runtim

[2018-07-24 06:57] remi-sap commented on #151
Sorry, I'm new to maven.

[2018-07-24 06:57] #151 closed

[2018-07-24 18:05] maggiolo00 commented on #150
Hi @To-om

which error do you get on the second issue?

[2018-07-26 17:47] To-om commented on #150
The vertex is not found

[2018-07-26 18:42] To-om commented on #150
I've just reproduce the error in an unit test. The test `hasIdWithString` is not correctly named has ID is not a string but an object. If you stringify it, the test fails.
`Assert.assertEquals(1, graph.traversal().V().hasId(v1.id()).toList().size());` : PASS
`Assert.assertEquals(1, graph.traversal().V().hasId(v1.id().toString()).toList().size());` : FAIL

[2018-08-09 22:56] misu200 opened #152 "getIndexedVertices method in OrientGraph"
I ve an app where trying to consume the stream returned from OrientGraph.getIndexedVertices() method throws me some random exception.

[code]

[2018-08-13 17:39] To-om opened #153 "`V` step returns duplicate results"
The `V` step in a `GraphTraversal` returns duplicate vertices. (works as expected in a `GraphTraversalSource`)
The number of elements seems to depends on the total number of vertices that match the previous step.
The following unit test fails:
[code]

[2018-08-14 15:25] wolf4ood commented on #153
Hi @To-om

i think it's not a problem of ODB. It happens also with the in memory graph implementation `TinkerGraph`

[code]

[2018-08-15 10:04] #152 closed, assigned to nobody

[2018-08-16 06:46] To-om commented on #153
Hi,
I confirm this is not a bug. I misunderstand the purpose of this step. It is not a filter but a map. For each result, it retrieves the specified vertex.
Thanks.

[2018-08-16 06:46] #153 closed, assigned to nobody

[2018-08-21 15:43] To-om opened #154 "Temporary ID in different transactions"
When a create a vertex, I get a temporary ID (ends with ":-2"). I can retrieve that vertex
with the string representation of the ID only in the same transaction.
If I open a new transaction, the ID is unusable
[code]
I suppose replacing ":-2" by ":0" is not the solution.
How can I provide a stable ID to client (I am in a web application context) ?

[2018-08-27 13:33] wolf4ood commented on #154
Hi @To-om

OrientDB uses temporary rids in transactions and are resolved at commit time.
That means that if you store a termporary rids in a String you will get the temporary rid.

if you change the code in this way it works

[code]

[2018-08-30 14:30] To-om commented on #154
Thank you for your answer.
In my case, transaction encompasses the whole HTTP request process, including the build of the response.
I think that it is not a good idea to commit the transaction before each id obtained because the process could fail after that, rollback won't be possible.

[2018-08-30 14:45] wolf4ood commented on #154
@To-om

the idea is to keep all the newly created vertices edges and then after commit use the api

[code]
to get the persisted record id

[2018-10-12 20:08] Eric24 commented on #116
@luigidellaquila : Can you expand on your statement to not use "unique, ignored-nulls" indexes because of optimization issues in some edge cases? It's something we're doing quite a bit of (in cases where a property is often the same for 99% of the documents, but we need to quickly find the other 1%). I haven't seen any roblems, but I'd like to understand what to watch out for.

[2018-10-15 10:11] luigidellaquila commented on #116
Hi @Eric24

The query execution planner used to skip index usages in some conditions, when the index was configured to exclude null values. Anyway, in v 3.0 and with the new execution planner we solved this problem, so it's not a concern anymore

Thanks

Luigi

[2018-11-16 18:54] karux opened #155 "command line build fails.."
Following instructions at https://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html#gremlin-server

Steps to recreate:
$ git clone https://github.com/orientechnologies/orientdb-gremlin
$ cd orientdb-gremlin
$ git checkout develop
$ mvn clean install

Expected Results: a successful build

Note: I HAVE NOT BUILD THE SERVER... I ONLY NEED THE CONSOLE APP, and the instructions do NOT state a

[2018-12-20 19:55] kevmegforest opened #156 "hasLabel filtering should be able to filter OrientDB classes with inheritance model"
For example i have this orientdb schema class inheritance
[code]
In a traversal doing the step filter hasLabel("VHeating") should give me vertex from the 2 child classes (Elect and Gaz)

Now it gives only things that are only "VHeating"

[2019-01-09 22:26] soujiro32167 opened #157 "Problem using standalone gremlin server with OrientDB"
# Problem

I would like to setup an independent deployment of gremlin-server that would connect to OrientDB. This is useful because the server seems to only open preconfigured graphs.
When I do this using the setup below, things go well until I send this query using gremlin console:
[code]

I get a ClassCastException:
[code]

# Setup

docker-compose.yaml:
[code]

Dockerfile:
[code]

tinkergraph-em

[2019-02-08 12:28] M1sterPl0w opened #158 "addEdge"
In followed the following documentation:  http://orientdb.com/docs/3.0.x/gremlin/Gremlin.html
Here is told you can make vertices with addVertex en create edges with addEdge. The last one is not present in "OrientGraph.java" please update the documentation or something.

[2019-02-11 13:30] wolf4ood commented on #158
Hi @M1sterPl0w

that link is for Gremlin API 2.6.x. For the version 3.0.x which is compatible with Apache Tinkerpop 3 see
[here](http://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html)

[2019-02-12 02:42] douglascvas opened #159 "Are there any plans to have a javascript version of this library?"
I wonder if there will be a version of this library in javascript.
I am currently trying to access orientdb through the gremlin javascript library, but it has some problems:
- Ids returned from addV operations are temporary
- Does not support transactions

Database version: OrientDB 3.0.14

[2019-02-12 11:27] wolf4ood commented on #159
Hi @douglascvas

the official JS driver is OrientJS which uses OrientDB binary protocol. It can be used to spawn gremlin queries over the OrientDB binary protocol if the distribution is OrientDB with Apache Tinkerpop3. But i would recommend to use the gremlin javascript driver since it's support gremlin traversal with GLV, which i guess is something you want. and gives you the abstraction over the

[2019-03-11 11:33] remi-sap opened #160 "Connectivity from gremlin_python"
Hi, I'm trying to connect with the generic package gremlin_python. Is it possible ?

I'm using the docker image for ODB + gremlin
[code]

Then I install package gremlin_python and I execute

[code]

This throws an exception `tornado.httpclient.HTTPError: HTTP 599: Stream closed`
I get the same exception if I put a wrong username, password or database name.

The failed attempts are logged:
[code]

[2019-03-18 11:50] wolf4ood commented on #160
Hi @remi-sap

from client side you cannot chose the database to use. You can only chose the traversal source in your case `g` which is binded to an OrientDB database configured in `${ORIENTDB_HOME}/config/gremlin-server.yaml`

[code]
and also the `ws` url should contain `gremlin`

Let me know if this helps

Thanks

[2019-03-19 10:18] remi-sap commented on #160
Hello,
With the orientdb tinkerpop3 docker image the database is demodb.

I logged on with the studio and created a few vertices. Then the following python sample worked:

[code]

[2019-03-19 10:18] #160 closed, assigned to wolf4ood

[2019-03-19 18:08] remi-sap opened #161 "Gryo serialization stacktrace"
Hello,
I've used a small java program to connect using org.apache.tinkerpop version 3.4.0

[code]

It works well. However, if I use a different serializer, it always fails with a big exception

org.apache.tinkerpop.gremlin.driver.ser.SerializationException: org.apache.tinkerpop.shaded.kryo.KryoException: Encountered unregistered class ID: 65536
	at java.util.concurrent.CompletableFuture.reportGet(

[2019-03-19 18:16] wolf4ood commented on #161
Hi @remi-sap

can you paste the entire stacktrace?

Thanks

[2019-03-19 21:48] remi-sap commented on #161
Here it is:

java.util.concurrent.ExecutionException: io.netty.handler.codec.DecoderException: org.apache.tinkerpop.gremlin.driver.ser.SerializationException: org.apache.tinkerpop.shaded.kryo.KryoException: Encountered unregistered class ID: 65536
	at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357)
	at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1

[2019-03-19 21:57] wolf4ood commented on #161
Hi @remi-sap

Are you using org.apache.tinkerpop version 3.4.0

with OrientDB tp3 in server side?

Thanks

[2019-03-19 22:00] remi-sap commented on #161
Yes. pom.xml
[code]
And for orientdb:
[code]

[2019-03-19 22:05] wolf4ood commented on #161
@remi-sap

probably that could be the problem. ODB still uses 3.3.0 of Gremlin Server

[2019-03-19 22:10] remi-sap commented on #161
I've reverted to 3.3.0, rebuilt the project but I still get a similar stacktrace:

[code]

[2019-03-19 22:32] wolf4ood commented on #161
Hi @remi-sap

it could be the custom serializer for RecordID.

add `orientdb-gremlin` to your project and build the serializer with OrientIoRegistry

[code]

Let me know if it helps

[2019-03-27 09:12] wolf4ood commented on #161
Hi @remi-sap

did you try my solution?

Thanks

[2019-03-27 09:13] wolf4ood commented on #159
Hi @douglascvas

do you need other info on this?

Thanks

[2019-03-27 09:14] #158 closed, assigned to wolf4ood

[2019-03-27 09:16] wolf4ood commented on #157
Hi @soujiro32167

let me check on this

[2019-03-27 12:38] remi-sap commented on #161
Hi wolf4ood,
Sorry, you're too quick for me.
Yes it works !!!
Thanks !!

[2019-03-27 12:38] #161 closed, assigned to wolf4ood

[2019-03-28 14:47] wolf4ood commented on #157
Hi @soujiro32167

i've just pushed a fix, it will be available in the next release, 3.0.19

Thanks

[2019-03-28 14:47] #157 closed, assigned to wolf4ood

[2019-04-26 10:53] WolfgangFahl commented on #114
I'd love to see this implemented

[2019-05-03 14:20] wolf4ood commented on #114
Hi @WolfgangFahl

i forgot to close this.

If you  download ODB version 3.0.x tp3 edition it embeds a GremlinServer

https://orientdb.com/download-2/

Thanks

[2019-05-03 14:20] #114 closed

[2019-05-03 15:35] bigman73 opened #162 "Gremlin doesn't use Lucene indexes"
A Vertex Class property exists and an index of type FULL TEXT Lucene is using it.
With ODB SQL the command works, uses the index and return results as expected:
[code]

But with a gremlin query the Lucene index is not used for the query and no results return:
[code]

The expected behavior is that if a field (searchData in this example) has a Lucene index assigned to it then the Lucene engine would

[2019-05-16 20:56] remi-sap commented on #143
Hi,
Maybe this will help you:

I run a docker image with the gremlin server:

[code]

Here's a python snippet to connect with the generic gremlin client and execute a query:

[code]

[2019-06-04 08:44] wolf4ood commented on #162
Hi @bigman73

unfortunately there is no way. `has` step is translated to `=` in SQL which does not use Lucene indexes. AFAIK TP3 does not support predicate `like`.
http://tinkerpop.apache.org/docs/current/reference/#a-note-on-predicates
It would be cool to have TP3 support something like P.like("orient~ -nodejs") that could be easily translated into a lucene query

[2019-06-04 08:45] wolf4ood opened #163 "Disable metrics console logging in the default configuration of the shipped Gremlin Server"

[2019-06-04 08:46] wolf4ood opened #164 "Upgrade to TinkerPop 3.4.x for ODB 3.1.x"

[2019-06-12 18:33] SafinRR opened #165 "How to get vertex class name with gremlin console?"
Hello!
How to get vertex class  and name rid  with gremlin console?

 g.V('#48:19').valueMap()
g.V('#48:19').properties()

[2019-06-17 08:40] x007007007 opened #166 "Groovy version conflect with gremlin server"
This is my config, I run gremlin server on window 7 , gremlin-server version is 3.4.2

gremlin-service.yaml
[code]

orientdb-empty.properties
[code]

[code]

[2019-06-17 08:50] x007007007 commented on #155
I have same problem

[2019-06-17 08:56] luigidellaquila commented on #155
Hi @x007007007

reading the docs:
`As a pre-requirement, you have to build the same branch for OrientDB core distribution`
https://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html#source-code-installation

Am I missing something?

Thanks

Luigi

[2019-06-18 09:00] x007007007 commented on #166
It is seem that GremlinServer version is too high. GremlinServer 3.3.1 have a dependence with orientdb-gremlin 3.0.20.
newest develop branch is dependence GremlinServer 3.4.0  and orient 3.1.0，I can not build with GremlinServer 3.3.1.
So, Once I downgrading GremlinServer to 3.3.1, all error are disappear

[2019-06-18 09:04] #163 closed, assigned to wolf4ood

[2019-06-20 10:50] wolf4ood commented on #165
Hi @SafinRR

[code]

in the version supported by ODB

in future version of Gremlin 3.4.x

http://tinkerpop.apache.org/docs/current/reference/#valuemap-step

[2019-06-20 10:50] #165 closed, assigned to wolf4ood

[2019-06-20 10:51] #159 closed, assigned to wolf4ood

[2019-07-05 15:23] #164 closed, assigned to wolf4ood

[2019-07-08 09:57] #139 closed

[2019-07-08 09:57] #137 closed

[2019-09-23 07:09] WolfgangFahl commented on #143
For the OrientDB section of http://wiki.bitplan.com/index.php/Gremlin_python#Connecting_to_Gremlin_enabled_graph_databases
I tried to get this working - unfortunately there seems to be some version issues. What would be needed to get gremlin python working with apache-tinkerpop-gremlin-server-3.4.3?

[2019-09-23 07:20] WolfgangFahl opened #167 "gremlin-python tutorial test_000.py fails"
see http://wiki.bitplan.com/index.php/Gremlin_python#Connecting_to_Gremlin_enabled_graph_databases

To reproduce:
[code]
**test_000.py**
[code]
**error message**
[code]

[2019-09-30 07:55] remi-sap commented on #143
Could you please describe the version issue?

[2019-09-30 12:23] WolfgangFahl commented on #143
The version conflict is just an assumption.

Steps to reproduce:
[code]

result:
[code]

[2019-09-30 14:29] remi-sap commented on #143
Hi Wolfgang, it looks like a serialization issue. The log of the gremlin server inside docker shows:

[code]
I've had similar issues when using gremlin with ODB from java and solved it by specifying an IORegistry or changing the default serialization method. I'm not sure how to do this in python.

[2019-11-14 22:42] Laurix1983 commented on #141
Any idea when the midtraversal index could be in use? This is a pretty serious problem for myself

[2020-01-20 12:32] sombra-ostryzhniuk-andrii opened #168 "Queries with two or more parameters don't work."
Queries with two or more parameters don't work. For example:
`Optional<GenericContainer> findByDefinitionAndDeleted(String definition, Boolean deleted);`
**The reason:**
The same entity class is added each time for each parameter so then the same query are generated two times, for each item of the `classes` list. So an error occurs:
[code]
**Possible solution:**
Allow only unique values in the `cl

[2020-01-20 12:36] wolf4ood commented on #168
Hi @sombra-ostryzhniuk-andrii

Do you have the traversal that fails? Thanks

[2020-01-20 12:53] sombra-ostryzhniuk-andrii commented on #168
@wolf4ood Do you mean a stack trace?

[2020-01-20 13:17] wolf4ood commented on #168
Hi @sombra-ostryzhniuk-andrii

I mean the gremlin traversal/query that produces this error

[2020-01-20 13:33] sombra-ostryzhniuk-andrii commented on #168
@wolf4ood
No, I don't have. I use this spring data query:
`Optional<GenericContainer> findByDefinitionAndDeleted(String definition, Boolean deleted);`

[2020-01-20 13:36] wolf4ood commented on #168
Which spring data?

Do you have a reproducer that I can use to debug it ?

Thanks

[2020-01-20 14:20] sombra-ostryzhniuk-andrii commented on #168
Do you mean something like this?

`DefaultGraphTraversal : [OrientGraphStep(vertex,[~label.eq(GenericContainer), definition.eq(test), ~label.eq(GenericContainer), deleted.eq(false)])]`

That's the value from `OrientGraphCountStrategy : apply(Traversal.Admin<?, ?> traversal)`.
`definition` and `deleted` are properties. That error occurs for every query by two or more parameters, independently on da

[2020-01-20 15:43] wolf4ood commented on #168
Hi @sombra-ostryzhniuk-andrii

thanks for the debug info, i guess spring data gremlin you are referring to.

I guess that filter put the labels 2 times and make the ODB builder fails.

Your patch is correct , i will applying it and it will be available in the next release or snapshot

Thanks

[2020-01-20 15:44] #168 closed, assigned to wolf4ood

[2020-02-24 17:19] MartinBrugnara opened #169 "Inconsistent transaction beheviour w/remote:"
Version: `3.0.27`
Java-gremlin api
Connection mode: remote

### Goal
- 3 threads deleting 3 different nodes.

### Context
- Each threads has its own `GraphTraversalSource` generated as
[code]

- Code (simplified)
[code]
### What happens
- one thread completes
- the other 2 raise `OConcurrentModificationException`
- one of the remaining completes
- the other raises `ORecordNotFoundException`

### W

[2020-02-26 08:45] wolf4ood commented on #169
Hi @MartinBrugnara

do you have a complete test to reproduce this case?

Thanks

[2020-02-26 11:24] MartinBrugnara commented on #169
Hi @wolf4ood,
the code i posted is part of a much bigger framework which I cannot share at the moment.
Nevertheless, I extracted for you all the relevant code: [https://pastebin.com/9E45Z7G0]() .
Then you will need just a main function, imports, and the following  deps:

[code]

Cheers,
M

EDIT: ```GdbLogger``` is just a custom logger... feel free to replace it with _prints_, and the invocations t

[2020-03-10 15:07] MartinBrugnara opened #170 "Cannot create property-index on graph loaded via gremlin API"
Version: `3.0.27`
Store: `plocal`

### Issue
I cannot create an index on any property when the graph is loaded via the gremlin API.

### Questions
* Should I manually alter the schema to make it aware of the properties or there is way to _auto discover_ it ?
* In case I need to create the schema a-priory, what's the recommend way to do so?

### Context & Code
Loading code:
[code]

Partial, relevan

[2020-03-10 15:40] luigidellaquila commented on #170
Hi @MartinBrugnara

There is no way to auto-discover properties, so I'm afraid you will have to create them manually.
My suggestion is to use plain SQL to do it

Thanks

Luigi

[2020-03-10 17:49] MartinBrugnara commented on #170
Thanks @luigidellaquila for the quick and clear response.

I proceed to close this issue.

[2020-03-10 17:49] #170 closed, assigned to luigidellaquila

[2020-03-13 20:36] jbreiding opened #171 "java.lang.IllegalArgumentException: rawElement must not be null!"
I need a little bit of help narrowing down how to prevent this error.

Let me first bring up this is non-deterministic and I am unable to reproduce locally, however I have a deployed environment we I know I will happen a few times a day. So what I am looking for is the right kind of knobs to turn to collect the right debugging information.

I am using kotlin as the dev language. This is running ag

[2020-03-13 20:55] wolf4ood commented on #171
Hi @jbreiding

do you have the traversal that throw this error?

Thanks

[2020-03-13 21:03] jbreiding commented on #171
Sort of, the trouble is this doesn't hit consistently on the same point in the traversal every time.

What specifics are looking for? I can see if I can mock one out, as at time this could contain where steps and sometimes they do not.

[2020-03-13 21:13] jbreiding commented on #171
For the most recent error from telemetry the traversal looks similar to this:

`
g.V({rid}).in({edgelabel}).out({edgelabel}).where(__.has("id", P.neq("")).range(0, 50)
`

The results are processed in a kotlin sequence as follows:
`
.asSequence().mapNotNull { it.toModel<{targetClass}>() }.toList()
`

Ultimately running this same query a second, which we have built in results in an error free execut

[2020-03-13 21:33] wolf4ood commented on #171
@jbreiding

just a question how did you configure the `g`?

[2020-03-13 21:41] jbreiding commented on #171
I believe every configuration knob is a default. The graph for this traversal is acquired from a vertex object, vertexObject.graph();

That vertex object is from another another query, and graph that graph/g was from an OrientGraphFactory pool with a maxsize of 500.

Currently the workload is spread across two api servers communicating to a single orientdb instance deployed as a stateful set in a

[2020-03-13 22:09] wolf4ood commented on #171
@jbreiding

reading the code one possible cause is that the edge contains in or from pointer to vertex that is null or point to a deleted vertex.

You can check this by querying directly the edge class looking for out/in field which are null.

[2020-03-13 22:28] jbreiding commented on #171
Interesting, I could query for edges across my db instance for this condition to confirm if it could be the case correct?

[2020-03-13 22:36] jbreiding commented on #171
`
select from E where in is null or out is null
`
This returns an empty set, is that the direction you were suggesting?

I would like to clarify something, the same query gets retried when an error like this occurs from our user interface. That request succeeds, I have done some digging to see if it was data related, but given that behavior I would expect I could run the same query and reproduce t

[2020-03-13 22:42] jbreiding commented on #171
I also see a similar error being logged in my telemetry, I have confirmed this edge is populated, the in and out are not empty.

21:48:37.512 [reactor-http-epoll-1] WARN  c.o.o.core.record.impl.OEdgeIterator - Record (#24:556) is null

`
    at com.orientechnologies.common.log.OLogManager.log(OLogManager.java:188)
    at com.orientechnologies.common.log.OLogManager.warn(OLogManager.java:229)
    a

[2020-03-13 22:45] wolf4ood commented on #171
@jbreiding

try this, which will also detect if some link is invalid

[code]

[2020-03-13 22:48] jbreiding commented on #171
Empty result set as well.

[2020-03-17 18:56] jbreiding commented on #171
I spent a bit of time experimenting. There is very clear a bit of a data issue in our implementation. There is a bit of wonkiness in how I was sharing connections across http requests.

I have cleared that up in favor of sharing just the pool/factory. I am still seeing some wonkiness and I am digging further. But it is definitely looking exactly like an underlying data problem. Thanks for your hel

[2020-03-17 18:56] #171 closed, assigned to nobody

[2020-04-03 15:07] kuzeko opened #172 "Maven Group ID in pom.xml is not the official one?"
Hi,
is it normal that the release here has this group id `com.michaelpollmeier`
instead of `com.orientechnologies` ?

https://github.com/orientechnologies/orientdb-gremlin/blob/de68af5d2aa95a56087efde302ba6a89278a16fc/driver/pom.xml#L4

As a result  on the maven central we have

https://search.maven.org/artifact/com.michaelpollmeier/orientdb-gremlin/3.2.3.0/jar

and the official is stuck to 3.1.x

[2020-04-03 15:16] wolf4ood commented on #172
Hi @kuzeko

the group is not anymore  `com.michaelpollmeier` check [here](https://github.com/orientechnologies/orientdb-gremlin/blob/3.0.x/driver/pom.xml#L5)

and the release is not tucket to 3.1.x.

https://mvnrepository.com/artifact/com.orientechnologies/orientdb-gremlin

This repo follows the versioning of OrientDB which now the last stable is 3.0.30.

Let me know if it helps.

Thanks

[2020-04-03 15:30] kuzeko commented on #172
I see,
I got confused from the tags and didn't check the timestamp.
Sorry for the confusion

[2020-04-03 16:06] wolf4ood commented on #172
👍

[2020-04-03 16:06] #172 closed, assigned to wolf4ood

[2020-05-14 05:51] #162 closed, assigned to nobody

[2020-07-01 12:25] dseguy opened #174 "First run problems on OSX (3.1.0)"
Hi,

I'm installing OrientDB as a gremlin-server plugin, on OSX (catalina), with 1.8.0_241.
I download the official gremlin server (version 3.4.7) from the tinkerpop website.
Once unzipped the archive, I run the installation (as per the docs) :

`bin/gremlin-server.sh install com.orientechnologies orientdb-gremlin 3.1.0`

Note : Docs mentions using '-i' instead of 'install', though '-i' is depreca

[2020-07-01 12:28] andrii0lomakin commented on #174
Hello, most likely your application has no rights to access `/tmp` directory of your sever so jffr can not load native libraries and fails.

[2020-07-01 14:12] dseguy commented on #174
Thanks @laa.

So, I found a `/tmp/graph` folder, although, after removal, I can't reproduce it. I think it might have been created by another attempt (I tried with orientdb 3.0.32, and with the orientdb CE archive, which also failed).

On the other hand, I changed the .yaml to `csvReporter: {enabled: true, interval: 180000, fileName: /tmp/orientdb-metrics.csv},` and now I find such a file. So, it

[2020-07-01 16:25] andrii0lomakin commented on #174
@dseguy are you able to successfully run ODB if you run it under the `sudo` account?

[2020-07-02 09:40] dseguy commented on #174
Good idea. I tried to sudo gremlin, but ended with the same errors. I also cannot quit the server with an interruption. I have to kill it manually.

I downloaded the orientdb for osx, 3.1.0, and ran it without a fuss (until the editor).

This bug seems to be related to the installation in gremlin itself. Does orientdb only requires another folder to manage the data besides `orient-url=plocal:/tmp/

[2020-07-02 10:45] andrii0lomakin commented on #174
@dritter-sap I suppose that is related to problems with Groovy, could you check that ?

[2020-07-02 15:28] dritter-sap commented on #174
@dseguy could you run the server with the `-verbose` option. this should give us more information on the class loading and linkage errors.

[2020-07-02 17:48] dseguy commented on #174
@dritter-sap : where do I use this -verbose option?
I used it with bin/gremlin-server.sh, with the same result as above. The Orientdb doesn't mention it (https://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html)

[2020-07-03 08:02] dritter-sap commented on #174
@dseguy I assumed that you ran the ODB server. With the TP gremlin-server version `3.4.7` and `orientdb-gremlin` version `3.1.0` installed, I could reproduce the warning
[code]
Could you try using TP version `3.4.6` with `orientdb-gremlin` version `3.1.0` and check whether this warning still comes up? (`orientdb-gremlin` is currently on version `3.4.6`)

[2020-07-07 08:30] dseguy commented on #174
I found a tinkerpop 3.4.6, unzipped it, and installed orientdb with the command below.

`bin/gremlin-server.sh install com.orientechnologies orientdb-gremlin 3.1.0`

I used the 2 config file (yaml and properties), as in the docs :

https://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html#install-orientdb-gremlin

The full result is below. I'm concerned with the immediate warning `java.l

[2020-07-07 11:29] dritter-sap commented on #174
The warning is concerning and it seems that orientdb-gremlin version `3.1.0` is broken. I will need to have a deeper look into it.

Until it is fixed you could use version `3.0.0` with TP gremlin-server version `3.3.0` (from https://tinkerpop.apache.org/downloads.html), if possible, with  `gremlin-server.sh install com.orientechnologies orientdb-gremlin 3.0.0`. The yaml and property files are the

[2020-07-07 11:31] dritter-sap commented on #174
(careful, you referenced the `3.0.0` documentation. The `3.1.0` documentation can be found here: https://orientdb.com/docs/3.1.x/tinkerpop3/OrientDB-TinkerPop3.html#)

[2020-07-07 13:15] dritter-sap commented on #174
The TP gremlin-server distribution seems to miss the `com.github.jnr` `jffi` dependency (has to be placed into the *lib* directory), which you can get e.g. from https://mvnrepository.com/artifact/com.github.jnr/jffi/1.2.23.
Could you try this and let me know, if it works for you?

[2020-07-07 15:47] dseguy commented on #174
I downloaded the jffi-1.2.23.jar, and placed it in the 'ext/orientdb-gremlin/plugin' folder. I didn't try the 'lib' folder, as orientdb worked on the first try. Here is the result below, if you want some more warning.

I managed to run a `1+1`  query, so now I can do some more interesting testing, including with version 3.4.7.

Thanks a lot for the help!!

Shall I expect a new 3.1.0-beta version i

[2020-07-08 06:14] dritter-sap commented on #174
That's great. The `IMPORTANT!` notices in the log are the new default password warning. However, since ODB version `3.1.1` was already released yesterday, any potential fix regarding the setup will go into a subsequent release. Support for a newer TP version will probably go into a new minor or even major version (including 3.4.7).

[2020-07-08 06:14] #174 closed, assigned to dritter-sap

[2020-07-08 06:29] dritter-sap commented on #166
This looks like a case similar to this one: https://github.com/orientechnologies/orientdb-gremlin/issues/174. ODB version `3.0` supports TP gremlin server version `3.3.0`. In ODB `3.1.0` the supported TP version is `3.4.6`. Unfortunately, if the versions do not match, then you might see issues like the one you got.

[2020-07-08 06:29] #166 closed, assigned to nobody

[2020-12-26 16:56] leiyucs opened #178 "gremlin traversalsource io step not supported"
I am using orientdb-tp3 and tried to use g.io to import graphml to orientdb. However, it seems orientdb-gremlin does not have the method implemented for graph traversalsource to do that.  According to [the tinkerpop document](https://tinkerpop.apache.org/docs/current/upgrade/#_io_step)

[2021-01-13 11:09] rhdxmr opened #179 "gremlin.sh exits immediately"
I built it from source following the instruction of http://orientdb.com/docs/3.0.x/tinkerpop3/OrientDB-TinkerPop3.html#source-code-installation

But the resulting program does not work at all as below.

I also experienced the same issue, inside docker container made from the image of orientdb:3.1-tp3

How can I fix this problem?

[2021-01-19 17:30] leiyucs opened #180 "java.lang.NegativeArraySizeException on g.V().drop()"
I used g.io() import a fairly large graphml file and it worked. However, when I run g.V().drop(), it poped java.lang.NegativeArraySizeException  .   I tried to use a part of test.xml and found no problem with that. However, increasing the size of the file by adding edges incrementally to some point caused the problem. No problem with the data.

gremlin> g.io("/tmp/test.xml").read()
gremlin> g.V().

[2021-02-03 09:34] rhdxmr opened #181 "error on installing orientdb plugin into gremlin console"
[code]

[2021-07-28 15:24] mselite commented on #181
You should just remove the corresponding module in `lib/` of your gremlin console folder.

[2021-08-03 15:14] mselite opened #182 "How to use GraphComputer with gremlinpython or java api to make some computation like pageRank algorithme ?"
Hello there,

Is there any way to use PageRank algorithme through the gremlinpython api or java api with orientdb?
As is said in gremlin documentation `PageRank centrality can be calculated with Gremlin with the pageRank()-step which is designed to work with GraphComputer (OLAP) based traversals.` So is it possible to use GraphComputer with gremlinpython implementation with orientdb?
Here is the e